<div id="uc_newapp_creation_modal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Create New App</h4>
      </div>
      <div class="modal-body">
        <div class="form-group" style="overflow:auto">
<!-- 			<label for="inputEmail3" class="col-sm-2 control-label">App Name</label>
 -->			<div class="col-sm-10">
				<input type="email" class="form-control" id="uc_create_newapp_nameinput" placeholder="App Name">
			</div>
		</div>
   	  </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" id="uc_create_newapp_submitbtn" class="btn btn-primary">Create</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div id="ucapp_update_modal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Update App Information</h4>
      </div>
      <div class="modal-body">
      		<input type="hidden" id="ucapp_update_appid" />
        <div class="form-group" style="overflow:auto">
<!-- 			<label for="inputEmail3" class="col-sm-2 control-label">App Name</label>
 -->			<div class="col-sm-10">
				<input type="email" class="form-control" id="ucapp_update_nameinput" placeholder="App Name">
			</div>
		</div>
   	  </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" id="ucupdate_app_submitbtn" class="btn btn-primary">Update</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->