<div id="uc_newapp_creation_modal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Create New App</h4>
      </div>
      <div class="modal-body">
        <div class="form-group" style="overflow:auto">
<!-- 			<label for="inputEmail3" class="col-sm-2 control-label">App Name</label>
 -->			<div class="col-sm-10">
				<input type="email" class="form-control" id="uc_create_newapp_nameinput" placeholder="App Name">
			</div>
		</div>
   	  </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" id="uc_create_newapp_submitbtn" class="btn btn-primary">Create</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div id="ucapp_update_modal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Update App Information</h4>
      </div>
      <div class="modal-body">
      		<input type="hidden" id="ucapp_update_appid" />

          <div class="row">
              <div class="col-md-12">
                  App ID: <span id="ucapp_update_appid_display"></span>
              </div>
          </div>
          <br/>
        <div class="form-group" style="overflow:auto">
<!-- 			<label for="inputEmail3" class="col-sm-2 control-label">App Name</label>
 -->			<div class="col-sm-10">
				<input type="email" class="form-control" id="ucapp_update_nameinput" placeholder="App Name">
			</div>
		</div>
   	  </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" id="ucupdate_app_submitbtn" class="btn btn-primary">Update</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div id="ucEditProfileModal" class="modal ucModal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            
            <div class="modal-body">
               <img src="images/app/modal/userIcon.png" alt=""/>
               <h2>Edit Profile</h2>
                <div class="row">
                  <div class="col-sm-10 col-sm-offset-1">
                    <div class="input-group">
                      <span class="input-group-btn">
                        <label>First Name</label>
                      </span>
                      <input type="text" class="form-control" id="uceditprofile_firstname">
                    </div>
                   </div>
                   
                   <div class="col-sm-10 col-sm-offset-1">
                    <div class="input-group">
                      <span class="input-group-btn">
                        <label>Last Name</label>
                      </span>
                      <input type="text" class="form-control" id="uceditprofile_lastname">
                    </div>
                   </div>
                   
                </div>
                <div class="ucButtonWrapper">
                    <button type="button" class="btn ucCancelBtn" data-dismiss="modal">Cancel</button>
                    <button type="button" id="uceditprofile_submit" class="btn ucSaveBtn">Save</button>
                </div>
            </div>
            
        </div>
    </div>
</div>


<div id="ucEditPasswordModal" class="modal ucModal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
           
            <div class="modal-body">
               <img src="images/app/modal/passwordIcon.png" alt=""/>
               <h2>Change Password</h2>
                <div class="row">
                    
                        <div class="col-sm-10 col-sm-offset-1">
                            <div class="input-group">
                              <span class="input-group-btn">
                                <label>New Password</label>
                              </span>
                              <input type="text" class="form-control" id="ucchangepassword_password" placeholder="********">
                            </div>
                        </div>
                        
                        <div class="col-sm-10 col-sm-offset-1">
                            <div class="input-group">
                              <span class="input-group-btn">
                                <label>Confirm Password</label>
                              </span>
                              <input type="text" class="form-control" id="ucchangepassword_confirmpassword" placeholder="********">
                            </div>
                        </div>
                     
                </div>
                <div class="ucButtonWrapper">
                    <button type="button" class="btn ucCancelBtn" data-dismiss="modal">Cancel</button>
                    <button type="button" id="ucchangepassword_submit" class="btn ucSaveBtn">Save</button>
                </div>
            </div>
            
        </div>
    </div>
</div>


<div id="ucEditSMTPModal" class="modal ucModal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            
            <div class="modal-body">
               <img src="images/app/modal/smtpIcon.png" alt=""/>
               <h2>Edit Email Settings</h2>
               
                <div class="row">
                    
                        <div class="col-sm-10 col-sm-offset-1">
                            <div class="input-group">
                              <span class="input-group-btn">
                                <label>SMTP Host</label>
                              </span>
                              <input type="text" class="form-control" id="uceditsmtp_host" placeholder="smtp.google.com">
                            </div>
                        </div>
                        
                        <div class="col-sm-10 col-sm-offset-1">
                            <div class="input-group">
                              <span class="input-group-btn">
                                <label>SMTP Port</label>
                              </span>
                              <input type="text" class="form-control" id="uceditsmtp_port" placeholder="25">
                            </div>
                        </div>
                        
                        <div class="col-sm-10 col-sm-offset-1">
                            <div class="input-group">
                              <span class="input-group-btn">
                                <label>SMTP Username</label>
                              </span>
                              <input type="text" class="form-control" id="uceditsmtp_user" placeholder="johndoe@gmail.com">
                            </div>
                        </div>
                        
                         <div class="col-sm-10 col-sm-offset-1">
                            <div class="input-group">
                              <span class="input-group-btn">
                                <label>SMTP Password</label>
                              </span>
                              <input type="text" class="form-control" id="uceditsmtp_pass" placeholder="********">
                            </div>
                        </div>
                </div>
                <div class="ucButtonWrapper">
                    <button type="button" class="btn ucCancelBtn" data-dismiss="modal">Cancel</button>
                    <button type="button" id="uceditsmtp_submit" class="btn ucSaveBtn">Save</button>
                </div>
            </div>
            
        </div>
    </div>
</div>


<div id="ucEditDatabaseModal" class="modal ucModal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            
            <div class="modal-body">
               <img src="images/app/modal/dbIcon.png" alt=""/>
               <h2>Edit Database Settings</h2>
               
                <div class="row">
                   
                   <div class="col-sm-10 col-sm-offset-1">
                            <div class="input-group">
                              <span class="input-group-btn">
                                <label>MongoDB Host</label>
                              </span>
                              <input type="text" class="form-control" id="uceditdatabase_host" placeholder="127.0.0.1, localhost, etc">
                            </div>
                   </div>
                   <div class="col-sm-10 col-sm-offset-1">
                            <div class="input-group">
                              <span class="input-group-btn">
                                <label>MongoDB Port</label>
                              </span>
                              <input type="text" class="form-control" id="uceditdatabase_port" placeholder="27017">
                            </div>
                   </div>
                   <div class="col-sm-10 col-sm-offset-1">
                            <div class="input-group">
                              <span class="input-group-btn">
                                <label>MongoDB Username</label>
                              </span>
                              <input type="text" class="form-control" id="uceditdatabase_user" placeholder="root">
                            </div>
                   </div>
                   <div class="col-sm-10 col-sm-offset-1">
                            <div class="input-group">
                              <span class="input-group-btn">
                                <label>MongoDB Password</label>
                              </span>
                              <input type="text" class="form-control" id="uceditdatabase_pass" placeholder="********">
                            </div>
                   </div>
                   <div class="ucButtonWrapper">
                        <button type="button" class="btn ucCancelBtn" data-dismiss="modal">Cancel</button>
                        <button type="button" id="uceditdatabase_submit" class="btn ucSaveBtn">Save</button>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>


<div id="ucEditSystemModal" class="modal ucModal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            
            <div class="modal-body">
               <img src="images/app/modal/settingsIcon.png" alt=""/>
               <h2>Edit System Settings</h2>
                <div class="row">
                        
                        <div class="col-sm-10 col-sm-offset-1">
                            <div class="input-group">
                              <span class="input-group-btn">
                                <label>Base URL with Port</label>
                              </span>
                              <input type="text" class="form-control" id="uceditsystem_baseurl" placeholder="http://localhost:3000">
                            </div>
                       </div>
                 </div>
                 
                 <div class="ucButtonWrapper">
                        <button type="button" class="btn ucCancelBtn" data-dismiss="modal">Cancel</button>
                        <button type="button" id="uceditsystem_submit" class="btn ucSaveBtn">Save</button>
                 </div>
                 
            </div>
            
        </div>
    </div>
</div>
