<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Usercom | Edit SMTP Details</title>

    <!-- external scripts -->
    <% include commoncss.ejs %>
    <link rel="stylesheet" type="text/css" href="/css/internal/app.css" />


    <% include commonscripts.ejs %>

</head>
<body>

    <% include navigation.ejs %>

    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <h1>Edit SMTP Details</h1>
            </div>
        </div>
        <br/><br/>

        <div class="row">
            <div class="col-md-12">

                <div class="form-group row">
                    <label for="uceditsmtp_host" class="col-sm-3 control-label text-right">SMTP Host</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="uceditsmtp_host" placeholder="smtp.google.com">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="uceditsmtp_port" class="col-sm-3 control-label text-right">SMTP Port</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="uceditsmtp_port" placeholder="25">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="uceditsmtp_user" class="col-sm-3 control-label text-right">SMTP Username</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="uceditsmtp_user" placeholder="johndoe@gmail.com">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="uceditsmtp_pass" class="col-sm-3 control-label text-right">SMTP Password</label>
                    <div class="col-sm-9">
                        <input type="password" class="form-control" id="uceditsmtp_pass" placeholder="********">
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-offset-3 col-sm-9">
                        <button type="submit" id="uceditsmtp_submit" class="btn btn-default">Save</button>
                    </div>
                </div>

            </div>
        </div>

    </div>

    <script>

        UC_UserSession.user = <%- JSON.stringify(user) %>;

        var uc_main = new UC_MainController();
        uc_main.constructor();
        uc_main.userController.constructor();
        uc_main.userController.config = <%- JSON.stringify(config) %>;
        uc_main.userController.editSMTPHandler();
    </script>

</body>
</html>
