<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Usercom | Edit Profile</title>

    <!-- external scripts -->
    <% include commoncss.ejs %>
    <link rel="stylesheet" type="text/css" href="/css/internal/app.css" />


    <% include commonscripts.ejs %>

</head>
<body>

    <% include navigation.ejs %>

    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <h1>Edit Profile</h1>
            </div>
        </div>
        <br/><br/>

        <div class="row">
            <div class="col-md-12">

                <div class="form-group row">
                    <label for="uceditprofile_firstname" class="col-sm-3 control-label text-right">First Name</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="uceditprofile_firstname" placeholder="John">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="uceditprofile_lastname" class="col-sm-3 control-label text-right">Last Name</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="uceditprofile_lastname" placeholder="Doe">
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-offset-3 col-sm-9">
                        <button type="submit" id="uceditprofile_submit" class="btn btn-default">Save</button>
                    </div>
                </div>

            </div>
        </div>

    </div>

    <script>

        UC_UserSession.user = <%- JSON.stringify(user) %>;

        var uc_main = new UC_MainController();
        uc_main.constructor();
        uc_main.userController.constructor();
        uc_main.userController.editProfileHandler();
    </script>

</body>
</html>
