<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Usercom</title>
   
    <!-- external scripts -->
    <% include partials/commoncss.ejs %>
    
    <% include partials/commonscripts.ejs %>

</head>
<body>

    <% include partials/navigation.ejs %>

    <div class="container">

        <% include app/app.ejs %>
  
    </div>
 
    <% include partials/dialogs.ejs %>
 	    
    <script>
  	
        UC_UserSession.user = <%- JSON.stringify(user) %>;
        var uc_main = new UC_MainController();

 	    uc_main.appController.renderVisitors = true;
        uc_main.userController.config = <%- JSON.stringify(config) %>;

        uc_main.constructor();

    </script>

</body>
</html>
