<% include partials/header.ejs %>
   
    <!-- external scripts -->
    <% include partials/commoncss.ejs %>
    
    <% include partials/commonscripts.ejs %>
    <script type="text/javascript" src="/js/external/Chart.min.js"></script>

</head>
<body>

    <% include partials/navigation.ejs %>
    
    <div class="ucIndexPageWrapper">
        <div class="ucSidebar">
          <% include partials/sidebar.ejs %>
        </div>
        
        <div class="ucMainContent">
           
            
           
           <div class="container-fluid">

                <% include app/app.ejs %>

           </div>
        </div>
        
    </div>
    
    
 
    <% include partials/dialogs.ejs %>
 	    
    <script>
  	
        UC_UserSession.user = <%- JSON.stringify(user) %>;
        var uc_main = new UC_MainController();

 	    uc_main.appController.renderVisitors = true;

        uc_main.constructor();
 	    uc_main.filterController.initRivetBinds();
 	    uc_main.visitorListController.initRivetBinds();

    </script>

</body>
</html>
