<% include partials/header.ejs %>
   
    <!-- external scripts -->
    <% include partials/commoncss.ejs %>
    
    <% include partials/commonscripts.ejs %>

</head>
<body>

    <% include partials/navigation.ejs %>

    <div class="container">

        <% include app/app.ejs %>
  
    </div>
 
    <% include partials/dialogs.ejs %>
 	    
    <script>
  	
        UC_UserSession.user = <%- JSON.stringify(user) %>;
        var uc_main = new UC_MainController();

 	    uc_main.appController.renderVisitors = true;
        uc_main.userController.config = <%- JSON.stringify(config) %>;

        uc_main.constructor();

    </script>

</body>
</html>
