<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Usercom</title>
    
    <!-- external scripts -->
    <% include commoncss.ejs %>
    <link rel="stylesheet" type="text/css" href="/css/internal/app.css" />
    
    
    <% include commonscripts.ejs %>

</head>
<body>

    <% include navigation.ejs %>

    <div class="container">

        <% include app/app.ejs %>
  
    </div>
 
    <% include dialogs.ejs %>
 	    
    <script>
  	
        UC_UserSession.user = <%- JSON.stringify(user) %>;
        var uc_main = new UC_MainController();

        uc_main.constructor();
        uc_main.appController.constructor();
		uc_main.dashboardController.constructor();
 	 
    </script>

</body>
</html>
