<% include header.ejs %>
   
    <!-- external scripts -->
    <% include commoncss.ejs %>
    <link rel="stylesheet" type="text/css" href="/css/internal/app.css" />
        <link rel="stylesheet" type="text/css" href="/css/internal/header.css" />
        <link rel="stylesheet" type="text/css" href="/css/internal/listing.css" />
    
    <% include commonscripts.ejs %>

</head>
<body>

    <% include navigation.ejs %>

    <div class="container">

        <% include app/app.ejs %>
  
    </div>
 
    <% include dialogs.ejs %>
 	    
    <script>
  	
        UC_UserSession.user = <%- JSON.stringify(user) %>;
        var uc_main = new UC_MainController();

 	    uc_main.appController.renderVisitors = true;
        uc_main.constructor();

         uc_main.userController.config = <%- JSON.stringify(config) %>;

    </script>

</body>
</html>
