<% include partials/header.ejs %>
   
    <!-- external scripts -->
    <% include partials/commoncss.ejs %>
    
    <% include partials/commonscripts.ejs %>

</head>
<body>

    <% include partials/navigation.ejs %>
    
    <div class="ucIndexPageWrapper">
        <div class="ucSidebar">
          <% include partials/sidebar.ejs %>
        </div>
        
        <div class="ucMainContent">
           
            <div class="ucSearchBar">
                <div class="ucSideBarMenuTrigger"><i class="ico-keypad"></i></div>
                 <div class="container-fluid">
                         
                         <div class="row">
                          <div class="col-lg-6 col-md-10">
                           <form class="form-inline">
                                <div class="ucSearchWrapper row">
                                  <div class="form-group col-md-3 col-sm-3 col-xs-4">
                                    <select class="form-control ucSearchSelect" id="">
                                        <option>Name</option>
                                        <option>Session</option>
                                        <option>Browser</option>
                                        <option>Operating System</option>
                                        <option>Device</option>
                                        <option>Country</option>
                                    </select>
                                    
                                  </div>
                                  <div class="form-group col-md-9 col-sm-9 col-xs-8 ">
                                    <input type="text" class="form-control" >
                                  </div>
                                </div>
                                <button type="submit" class="btn ucSearchBtn">Search</button>
                                  
                              

                            </form>
                            <div class="">
                              
                               
                            </div><!-- /input-group -->
                          </div><!-- /.col-lg-6 -->
                          
                        </div><!-- /.row -->
                        <span class="ucAddFilterBtn"><i class="ico-filter2"></i></span>
                 </div>
            </div>
           
           <div class="container-fluid">

                <% include app/app.ejs %>

           </div>
        </div>
        
    </div>
    
    
 
    <% include partials/dialogs.ejs %>
 	    
    <script>
  	
        UC_UserSession.user = <%- JSON.stringify(user) %>;
        var uc_main = new UC_MainController();

 	    uc_main.appController.renderVisitors = true;
        uc_main.userController.config = <%- JSON.stringify(config) %>;

        uc_main.constructor();
 	    uc_main.filterController.initRivetBinds();
 	    uc_main.visitorListController.initRivetBinds();

    </script>

</body>
</html>
