<% include partials/header.ejs %>
   
    <!-- external scripts -->
    <% include partials/commoncss.ejs %>
    
    <% include partials/commonscripts.ejs %>
    <script type="text/javascript" src="/js/external/Chart.min.js"></script>

</head>
<body>

<!--    <% include partials/navigation.ejs %>-->
    
    <div class="ucIndexPageWrapper">
        <div class="ucSidebar">
          <% include partials/sidebar.ejs %>
        </div>
        
        <div class="ucMainContent">
           
            
           
           <div class="container-fluid">

                <% include app/app.ejs %>

           </div>
           
           <div id="ucPageLoader" class="ucAjaxLoader" style="display: none;height: 100%;width: calc(100% - 270px);background-color: #fff;position: absolute;top: 70px;">
     			<img alt="Loading..." src="/images/app/ajax-loader.gif" style="top: 50%;position: absolute;">
 		   </div>
           
        </div>
        
    </div>
    
    <div class="ucVisitorPageWrapper"  style="display:none;">
        <% include partials/visitor.ejs %>

    </div>

    
 
    <% include partials/dialogs.ejs %>
 	    
    <script>
  	
        UC_UserSession.user = <%- JSON.stringify(user) %>;
        var uc_main = new UC_MainController();

 	    uc_main.appController.renderVisitors = true;

        uc_main.constructor();
 	    uc_main.filterController.initRivetBinds();
 	    uc_main.visitorListController.initRivetBinds();

    </script>

</body>
</html>
