
<!DOCTYPE html>
<html lang="en">
<head>
	 <% include commoncss.ejs %>
	  
    <link rel="stylesheet" type="text/css" href="/css/internal/login.css" />

    <!-- external scripts -->
    <% include commonscripts.ejs %>

    <!--- internal scripts --->
    <script type="text/javascript" src="./js/src/internal/login.js"></script>
</head>
  <body>
    <div class="UC_LoginContainerCls">
    	
    		<div class="form-group" style="overflow:auto">
			<label for="inputEmail3" class="col-sm-2 control-label">Email</label>
			<div class="col-sm-10">
				<input type="email" value="srikarna62@gmail.com" class="form-control" id="uclogin_usernameinput" placeholder="Email">
			</div>
		</div>
		<div class="form-group">
			<label for="inputPassword3" class="col-sm-2 control-label">Password</label>
			<div class="col-sm-10">
				<input type="password" value="ad" class="form-control" id="uclogin_passwordinput" placeholder="Password">
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<div class="checkbox">
					<div id="uclogin_forgotpasswrodbtn">Forgot Password</div>
				</div>
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<button type="submit" id="uclogin_submitbtn" class="btn btn-default">Sign
					in</button>
			</div>
		</div>
    	
    	
	
	</div>
  </body>
  <script>
    var uc_login  = new UC_LoginController();
    uc_login.constructor();
  </script>
</html>
