<% include header.ejs %>
	 <% include partials/commoncss.ejs %>
	  
    <link rel="stylesheet" type="text/css" href="/css/internal/login.css" />

    <!-- external scripts -->
    <% include partials/commonscripts.ejs %>

    <!--- internal scripts --->
    <script type="text/javascript" src="./js/src/internal/login.js"></script>
</head>
  <body>
    <div class="UC_LoginContainerCls">
    	    <div class="UC_logo"><img src="../../images/app/usercomLogo.png" alt=""/></div>
    		<div class="form-group" style="overflow:auto">
			<div class="col-sm-12">
				<input type="email" value="" class="form-control" id="uclogin_usernameinput" placeholder="Email">
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-12">
				<input type="password" value="" class="form-control" id="uclogin_passwordinput" placeholder="Password">
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-12">
				<div class="checkbox">
					<div id="uclogin_forgotpasswrodbtn">Forgot Password</div>
				</div>
			</div>
		</div>
		<div class="form-group">
			<div class="">
				<button type="submit" id="uclogin_submitbtn" class="btn btn-default">Sign
					in</button>
			</div>
		</div>
    	
    	
	
	</div>
  </body>
  <script>
    var uc_login  = new UC_LoginController();
    uc_login.constructor();
  </script>
</html>
