<html>

<head>
	 <% include commoncss.ejs %>
	 
    <!-- external scripts -->
    <% include commonscripts.ejs %>
    
</head>
<body>
<div class="UC_UserPasswordResetContainerCls">
    	
    	<div class="form-group" style="overflow:auto">
			<label for="inputEmail3" class="col-sm-2 control-label">New Password</label>
			<div class="col-sm-10">
				<input type="password" class="form-control" id="ucuserpassreset_newpasswordinput" placeholder="New Password">
			</div>
		</div>
    	<div class="form-group" style="overflow:auto">
			<label for="inputPassword3" class="col-sm-2 control-label">Confirm Password</label>
			<div class="col-sm-10">
				<input type="password" class="form-control" id="ucuserreg_confirmpasswordinput" placeholder="Confirm Password">
			</div>
		</div>
		
		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<button type="submit" id="ucuserpassreset_submitbtn" class="btn btn-default">Change Password</button>
			</div>
		</div>
    </div>	
</body>
<script>

$(document).ready(function(){
	
	
	var token = UC_Utils.getParameterByName('token');
	
	if(!token || $.trim(token).length ==0)
	{
		alert('Invalid !.Please reset password again from login page.')
		
		return;
	}
	
	$('#ucuserpassreset_submitbtn').on('click',function(){
	
		var newpassword = $('#ucuserpassreset_newpasswordinput').val();
		var confirmpassword = $('#ucuserreg_confirmpasswordinput').val();
		
		if($.trim(newpassword).length == 0)
		{
			alert('Invalid Password !');
			
			return;
		}
		
		if($.trim(newpassword) != $.trim(confirmpassword))
		{
			alert("New Password and Confirm Password doesn't match !");
			
			return;
		}
		
		var password  = $('#ucuserpassreset_newpasswordinput').val();
		
		UC_AJAX.call('LoginManager/resetPassword',{password:password,token:token},function(data,status,xhr)
	  		      {
					 if(data.status == "failure")
			    	  {
			    		  alert("An error accured !")
			    		  return;
			    	  }	
					
	  		    	  if(data.status == "success")
	  		          {
	  		    		  location.href = "/login";
	  		          }
	  		    	  
	  		    	  
	  		      
	  		      });
		
		
		
		
	})
	
	
})

</script>
</html>