     <% include partials/header.ejs %>
	 <% include partials/commoncss.ejs %>

    
     
    <% if(global.prodEnvType) {%>   
        <link rel="stylesheet" type="text/css" href="/dist/styles/usersetup.min.css" />  
	<% }
	else
	{ %> 
    	<link rel="stylesheet" type="text/css" href="/css/internal/usersetup.css" />
	<% }%> 
	

    <!-- external scripts -->
    <% include partials/commonscripts.ejs %>

    <!--- internal scripts --->
    <script type="text/javascript" src="/js/src/internal/accounts/userregistration.js"></script>
  </head>
  <body>
    <div class="ucSetupProgressStepsWrapper">
       <div class="container">
            <div class="row">
                 <ul class="ucSetupProgressSteps">
                        <li class="uc_welcome_step active"><span>1</span> Welcome to usercom</li>
                        <li class="uc_database_details"><span>2</span>Database Details</li>
                        <li class="uc_admin_details"><span>3</span>Admin User Details</li>
                        <li class="uc_user_settings"><span>4</span>System User Settings</li>
                        <li class="uc_smtp_details"><span>5</span>SMTP Details</li>
                  </ul>
             </div>
        </div>
    </div>
    
    <div class="UC_SetupContainerCls" id="UC_Setup_Welcome_Page">
        
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="ucWelcomeContent">
                    <img src="../images/app/usercomLogo.png" alt="Logo" />   
                    <h2>Welcome to UserCom</h2>
                    <h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc convallis urna at felis tincidunt scelerisque. Vivamus ultrices feugiat leo in iaculis. Cras lacinia lorem et elit mattis, id convallis odio accumsan. Maecenas ac leo non tellus tincidunt condimentum.</p>
                    <button type="submit" id="ucsetup_getting_startedbtn" class="btn btn-default">Getting Started</button>
                </div>
            </div>
        </div>
        
    </div>  
    

  	<div class="UC_SetupContainerCls" id="UC_Setup_Database">
        
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="UC_SetupLogo mongoDB"><img src="../images/app/setup/mongoDBLogo.png" alt="mongoDBLogo" /></div>
                <h2>Database Details</h2>
            </div>
        </div>


    	<div class="form-group row">
			<div class="col-sm-6 col-sm-offset-3">
				<input type="text" class="form-control" id="ucsetup_dbhostinput" placeholder="MongoDB Host (127.0.0.1, localhost, etc)">
			</div>
		</div>
		<div class="form-group row">
			<div class="col-sm-6 col-sm-offset-3">
				<input type="text" class="form-control" id="ucsetup_dbportinput" placeholder="MongoDB Port (27017)">
			</div>
		</div>
		<div class="form-group row">
			<div class="col-sm-6 col-sm-offset-3">
				<input type="text" class="form-control" id="ucsetup_dbuserinput" placeholder="MongoDB Username (root)">
			</div>
		</div>
		<div class="form-group row">
			<div class="col-sm-6 col-sm-offset-3">
				<input type="password" class="form-control" id="ucsetup_dbpassinput" placeholder="MongoDB Password (********)">
			</div>
		</div>
		<div class="form-group row">
			<div class="col-sm-6 col-sm-offset-3">
				<input type="text" class="form-control" id="ucsetup_dbnameinput" placeholder="MongoDB Name (usercom)">
			</div>
		</div>

		<div class="form-group row">
			<div class="col-sm-6 col-sm-offset-3 text-center">
				<button type="submit" id="ucsetup_dbsubmitbtn" class="btn btn-default">Next</button>
                <div id="ucSetupDatabaseAjaxLoader" class='ucAjaxLoader'><div></div></div>
			</div>
		</div>
    </div>

  	<div class="UC_SetupContainerCls" id="UC_Setup_User">
        
        <div class="row">

               <div class="col-md-12 text-center">
                <div class="UC_SetupLogo"><img src="../images/app/setup/userIcon.png" alt="userIcon" /></div>
                <h2>Admin User Details</h2>
            </div>
        </div>

    	<div class="form-group row">
			<div class="col-sm-6 col-sm-offset-3">
				<input type="text" class="form-control" id="ucsetup_fullnameinput" placeholder="Full Name (John Doe)">
			</div>
		</div>
    	<div class="form-group row">
			<div class="col-sm-6 col-sm-offset-3">
				<input type="email" class="form-control" id="ucsetup_emailinput" placeholder="Email (john.doe@example.com)">
			</div>
		</div>
		<div class="form-group row">
			<div class="col-sm-6 col-sm-offset-3">
				<input type="password" class="form-control" id="ucsetup_passwordinput" placeholder="Password (********)">
			</div>
		</div>
		<div class="form-group row">
			<div class="col-sm-6 col-sm-offset-3">
				<input type="password" class="form-control" id="ucsetup_confirmpasswordinput" placeholder="Confirm Password (********)">
			</div>
		</div>

		<div class="form-group row">
			<div class="col-sm-6 col-sm-offset-3 text-center">
				<button type="submit" id="ucsetup_usersubmitbtn" class="btn btn-default">Next</button>
                <div id="ucSetupUserAjaxLoader" class='ucAjaxLoader'><div></div></div>
			</div>
		</div>
    </div>

  	<div class="UC_SetupContainerCls" id="UC_Setup_App">
        
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="UC_SetupLogo"><img src="../images/app/setup/settingsIcon.png" alt="settingsIcon" /></div>
                <h2>System Settings</h2>
            </div>
        </div>

    	<div class="form-group row">
			<div class="col-sm-6 col-sm-offset-3">
				<input type="text" class="form-control" id="ucsetup_baseurlinput" placeholder="Base URL including port (http://localhost:3000)">
			</div>
		</div>
    	<div class="form-group row">
			<div class="col-sm-6 col-sm-offset-3">
				<input type="text" class="form-control" id="ucsetup_appnameinput" placeholder="App Name (MyWebsite)">
			</div>
		</div>

       	<div class="form-group row">
			<div class="col-sm-offset-3 col-sm-6 text-center">
				<button type="submit" id="ucsetup_appsubmitbtn" class="btn btn-default">Next</button>
                <div id="ucSetupEmailAjaxLoader" class='ucAjaxLoader'><div></div></div>
			</div>
		</div>

    </div>

    <div class="UC_SetupContainerCls" id="UC_Setup_SMTP">
        <div class="UC_SetupLogo"><img src="../images/app/setup/emailIcon.png" alt="emailIcon" /></div>
        <div class="row">
            <div class="col-md-12 text-center">
                <h2>SMTP Details</h2>
            </div>
        </div>

    	<div class="form-group row">
			<div class="col-sm-6 col-sm-offset-3">
				<input type="text" class="form-control" id="ucsetup_smtphostinput" placeholder="SMTP Host (smtp.google.com)">
			</div>
		</div>
		<div class="form-group row">
			<div class="col-sm-6 col-sm-offset-3">
				<input type="text" class="form-control" id="ucsetup_smtpportinput" placeholder="SMTP Port (25)">
			</div>
		</div>
		<div class="form-group row">
			<div class="col-sm-6 col-sm-offset-3">
				<input type="text" class="form-control" id="ucsetup_smtpuserinput" placeholder="SMTP Username (johndoe@gmail.com)">
			</div>
		</div>
		<div class="form-group row">
			<div class="col-sm-6 col-sm-offset-3">
				<input type="password" class="form-control" id="ucsetup_smtppassinput" placeholder="SMTP Password (********)">
			</div>
		</div>
	    <div class="form-group row">
			<div class="col-sm-6 col-sm-offset-3 text-center">
				<button type="submit" id="ucsetup_smtpsubmitbtn" class="btn btn-primary">Finish</button>
                <div id="ucSetupAppAjaxLoader" class='ucAjaxLoader'><div></div></div>
			</div>
		</div>
    </div>

    <div class="ucCopyright">&copy; Produle.com</div>

    <script>
	    var uc_userregistration  = new UC_UserRegistrationController();
	    uc_userregistration.constructor();
  </script>
  </body>
</html>
