<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
	 <% include partials/commoncss.ejs %>
	 
    <link rel="stylesheet" type="text/css" href="/css/internal/userregistration.css" />

    <!-- external scripts -->
    <% include partials/commonscripts.ejs %>

    <!--- internal scripts --->
    <script type="text/javascript" src="/js/src/internal/userregistration.js"></script>
  </head>
  <body>
  	<div class="UC_UserRegistrationContainerCls">
    	<div class="UC_logo"><img src="../../images/app/usercomLogo.png" alt=""/></div>
    	<h2>User Resigtration</h2>
    	<div class="form-group" style="overflow:auto">
			<div class="col-sm-6 col-sm-offset-3">
				<input type="email" class="form-control" id="ucuserreg_fullnameinput" placeholder="Full Name">
			</div>
		</div>
    	<div class="form-group" style="overflow:auto">
			<div class="col-sm-6 col-sm-offset-3">
				<input type="email" class="form-control" id="ucuserreg_emailinput" placeholder="Email">
			</div>
		</div>
		<div class="form-group" style="overflow:auto">
			<div class="col-sm-6 col-sm-offset-3">
				<input type="password" class="form-control" id="ucuserreg_passwordinput" placeholder="Password">
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-6 col-sm-offset-3">
				<input type="password" class="form-control" id="ucuserreg_confirmpasswordinput" placeholder="Confirm Password">
			</div>
		</div>
		
		<div class="form-group">
			<div class="col-sm-6 col-sm-offset-3">
				<button type="submit" id="ucuserreg_submitbtn" class="btn btn-default">Register</button>
			</div>
		</div>
    </div>	
    
    
    <script>
	    var uc_userregistration  = new UC_UserRegistrationController();
	    uc_userregistration.constructor();
  </script>
  </body>
</html>
