
  		<div class="row text-center">
            <div class="col-md-12">
                <div class="btn-group" role="group" aria-label="...">
                    <button type="button" class="btn btn-default uc_tab_trigger active" data-tabgroup-class="uc_tab_data_container" data-tabgroup-tabid="uc_tab_data_dashboard">Dashboard</button>
                    <button type="button" class="btn btn-default uc_tab_trigger" data-tabgroup-class="uc_tab_data_container" data-tabgroup-tabid="uc_tab_data_listuser">Listing</button>
                </div>
  			</div>
  		</div>

        <% include dashboard.ejs %>
        <% include userlist.ejs %>
