

  		<div class="row uc_data_container ucSwitchContentContainer" id="uc_tab_data_listuser" style="display: none;">
           <div class="ucSearchBar">
                <div class="ucSideBarMenuTrigger"><i class="ico-keypad"></i></div>
                 <div class="container-fluid">
                         
                         <div class="row">
                          <div class="col-lg-8 col-md-10">
                           <form class="form-inline ucSearchForm">
                                <div class="ucSearchWrapper row">
                                  <div class="form-group col-md-4 col-sm-4 col-xs-4">
                                    <select class="form-control ucSearchSelect" id="ucVisitorSearchField">
                                        <option value="visitorData.name">Name</option>
                                        <option value="sessions.agentInfo.browser">Browser</option>
                                        <option value="sessions.agentInfo.os">Operating System</option>
                                        <option value="sessions.agentInfo.device">Device</option>
                                        <option value="sessions.geoLocationInfo.country">Country</option>
                                    </select>
                                    
                                  </div>
                                  <div class="form-group col-md-8 col-sm-8 col-xs-8 ">
                                    <input type="text" class="form-control" id="ucVisitorSearchValue">
                                  </div>
                                </div>
                                <button type="submit" class="btn ucSearchBtn" id="ucVisitorSearchBtn">Search</button>
                                  
                              

                            </form>
                            
                          </div><!-- /.col-lg-6 -->
                          
                        </div><!-- /.row -->
                        <div class="ucSendMessageWrapper">
                            <button class="btn btn-primary" id="ucSendMessageGroupBtn" disabled>Send Message</button>
                            <span class="ucAddFilterBtn"><i class="ico-filter2"></i></span>
                            <span id="ucVisitorFieldsPopover" data-toggle="popover" title="Select Fields" data-placement="bottom" data-container="body" data-html="true" style="font-size: 23px;"><i class="ico-bill"></i></span>
                            <div id="ucVisitorFieldsPopoverContent" style="display:none;">
                                <ul id="ucVisitorFieldList">
                                    <li rv-each-field="fieldList" rv-data-fieldid="field.value">
                                        <label>
                                            <input type="checkbox" class="ucVisitorFieldListItem" rv-data-fieldid="field.value" /> <span  rv-text="field.label"></span>
                                        </label>
                                    </li>
                                </ul>

                                <button class="btn btn-primary" id="ucVisitorFieldsPopoverSubmit">Save</button>
                            </div>
                        </div>
                        
                 </div>
            </div>
              
               
                <div class="ucTableWrapper">
                  <div class="col-md-12">

              
                        <div class="row">
                            <div class="col-md-12">
                                
                                

                                <div class="ucTable uc_table" id="uc_visitor_list">
                                    <div class="ucTableRow">
                                        <div class="ucTableHead uc_table_input_control">
                                            <input id="uc-all-user-select" type="checkbox"><label for="uc-all-user-select"></label>
                                        </div>
                                        <div class="ucTableHead ucUserListSortableColumn" data-sortColumn="visitorData.name">
                                            <div class="uc_table_header">
                                                Name <i class="fa fa-caret-up"></i><i class="fa fa-caret-down"></i>
                                            </div>
                                        </div>
                                        <div class="ucTableHead text-center ucVisitorListSession">
                                            <div class="uc_table_header text-center">
                                                Session
                                            </div>
                                        </div>
                                        <div class="ucTableHead ucUserListSortableColumn ucVisitorListToggleField ucVisitorListToggleField_browser" data-sortColumn="sessions.agentInfo.browser">
                                            <div class="uc_table_header text-center">
                                                Browser <i class="fa fa-caret-up"></i><i class="fa fa-caret-down"></i>
                                            </div>
                                        </div>
                                        <div class="ucTableHead ucUserListSortableColumn ucVisitorListToggleField ucVisitorListToggleField_os" data-sortColumn="sessions.agentInfo.os">
                                            <div class="uc_table_header text-center">
                                                Operating System <i class="fa fa-caret-up"></i><i class="fa fa-caret-down"></i>
                                            </div>
                                        </div>
                                        <div class="ucTableHead ucVisitorListToggleField ucVisitorListToggleField_device">
                                            <div class="uc_table_header text-center">
                                                Device
                                            </div>
                                        </div>
                                        <div class="ucTableHead ucUserListSortableColumn ucVisitorListToggleField ucVisitorListToggleField_country" data-sortColumn="sessions.geolocationInfo.country">
                                            <div class="uc_table_header text-center">
                                                Country <i class="fa fa-caret-up"></i><i class="fa fa-caret-down"></i>
                                            </div>
                                        </div>
                                        <div class="ucTableHead ucUserListSortableColumn ucVisitorListToggleField ucVisitorListToggleField_lastseen" data-sortColumn="visitorMetaInfo.lastSeen">
                                            <div class="uc_table_header text-center">
                                                Last Seen <i class="fa fa-caret-up"></i><i class="fa fa-caret-down"></i>
                                            </div>
                                        </div>
                                        <div class="ucTableHead ucUserListSortableColumn ucVisitorListToggleField ucVisitorListToggleField_firstseen" data-sortColumn="visitorMetaInfo.firstSeen">
                                            <div class="uc_table_header text-center">
                                                First Seen <i class="fa fa-caret-up"></i><i class="fa fa-caret-down"></i>
                                            </div>
                                        </div>
                                        <div class="ucTableHead ucUserListSortableColumn ucVisitorListToggleField" rv-each-customfield="fieldList" rv-customfieldheader="customfield">
                                            <div class="uc_table_header text-center">
                                                <span class="ucVisitorListHeaderLabel"></span> <i class="fa fa-caret-up"></i><i class="fa fa-caret-down"></i>
                                            </div>
                                        </div>
                                        <div class="ucTableHead">
                                        </div>
                                    </div>
                                    <div class="ucTableRow" rv-each-visitor="list">
                                        <div class="ucTableCell uc_td_input_control">
                                            <input rv-visitorid="visitor" class="uc-user-select" type="checkbox"><label></label>
                                        </div>
                                        <div class="ucTableCell">
                                            <div class="ucUserBaseDetails ucVisitorPageTrigger " rv-data-visitorid="visitor._id">
                                               <div class="ucUserCurrentStatus">
                                                       <span rv-class-ucUserOnline="visitor.isVisitorOnline" rv-class-ucUserOffline="visitor.isVisitorOffline"></span>
                                                   <div class="ucUserPic">
                                                       <div class="ucUserPicWrapper" rv-profilepicture="visitor.visitorData">
                                                           <img class="ucUserProfileImage" src="" alt=""/>
                                                           <div class="ucUserProfileIntial"></div>
                                                       </div>
                                                    </div>
                                                   <div class="ucUserNameAndEmail">
                                                       <span class="ucUserName">{visitor.visitorData.name}</span>
                                                       <span class="ucUserEmail">{visitor.visitorData.email}</span>
                                                   </div>
                                               </div>

                                           </div>
                                        </div>
                                        <div class="ucTableCell text-center ucVisitorListSession" rv-sessioncount="visitor.sessions">

                                        </div>
                                        <div class="ucTableCell ucVisitorListToggleField ucVisitorListToggleField_browser">
                                            <div class="ucUserBrowserIcon" rv-latestbrowser="visitor.sessions"></div>
                                        </div>
                                        <div class="ucTableCell ucVisitorListToggleField ucVisitorListToggleField_os">
                                            <div class="ucUserOSIcon" rv-latestplatform="visitor.sessions"></div>
                                        </div>
                                        <div class="ucTableCell ucVisitorListToggleField ucVisitorListToggleField_device text-center">
                                            <div class="ucUserDeviceIcon desktop text-center"></div>
                                        </div>
                                        <div class="ucTableCell ucVisitorListToggleField ucVisitorListToggleField_country text-center f32" rv-country="visitor.sessions">
                                        </div>
                                        <div class="ucTableCell ucVisitorListToggleField ucVisitorListToggleField_lastseen" rv-lastseen="visitor.visitorMetaInfo.lastSeen">
                                        </div>
                                        <div class="ucTableCell ucVisitorListToggleField ucVisitorListToggleField_firstseen" rv-firstseen="visitor.visitorMetaInfo.firstSeen">
                                        </div>
                                        <div class="ucTableCell ucVisitorListToggleField" rv-each-customfield="fieldList" rv-customfielddata="customfield" rv-customfieldtest="visitor.visitorData">
                                        </div>
                                        <div class="ucTableCell">
                                            <div class="dropdown ucUsersListMoreOptions">
                                              <span class="dropdown-toggle" type="button" id="ucUsersListMoreOptions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                                &#8226;&#8226;&#8226;
                                              </span>
                                              <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="ucUsersListMoreOptions">
                                                <li><a href="#" class="ucSendMessageSingleTrigger">Send Message</a></li>
                                                <li><a href="javascript:void(0);" class="ucVisitorPageTrigger" rv-data-visitorid="visitor._id">User Profile</a></li>
                                              </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div id="ucVisitorListAjaxLoader" class='ucAjaxLoader'>
                                    <img alt="Loading..." src="/images/app/ajax-loader.gif"   />
                                </div>

                                <div id="ucVisitorListPlaceholder" rv-show="display">
                                    <div>
                                        To track visitors, copy the tracking code to your application. You can get the tracking code by clicking app list dropdown at the top-right corner and then the settings icon near your app name.
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                    </div>
                </div>
