

  		<div class="row uc_mt_medium uc_tab_data_container" id="uc_tab_data_listuser">
            <div class="col-md-12">
                <table class="table table-bordered table-striped uc_table">
                    <thead>
                        <tr>
                            <th class="text-center uc_table_input_control"><input type="checkbox" id="uc_users_list_selectall" /></th>
                            <th class="text-center">User</th>
                            <th class="text-center">Event</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="text-center uc_table_input_control"><input type="checkbox" class="uc_users_list_selectentry" /></td>
                            <td>John Smith</td>
                            <td>Logged in to the Application</td>
                        </tr>
                        <tr>
                            <td class="text-center uc_table_input_control"><input type="checkbox" class="uc_users_list_selectentry" /></td>
                            <td>John Smith</td>
                            <td>Logged in to the Application</td>
                        </tr>
                        <tr>
                            <td class="text-center uc_table_input_control"><input type="checkbox" class="uc_users_list_selectentry" /></td>
                            <td>John Smith</td>
                            <td>Logged in to the Application</td>
                        </tr>
                        <tr>
                            <td class="text-center uc_table_input_control"><input type="checkbox" class="uc_users_list_selectentry" /></td>
                            <td>John Smith</td>
                            <td>Logged in to the Application</td>
                        </tr>
                        <tr>
                            <td class="text-center uc_table_input_control"><input type="checkbox" class="uc_users_list_selectentry" /></td>
                            <td>John Smith</td>
                            <td>Logged in to the Application</td>
                        </tr>
                    </tbody>
                </table>
  			</div>
  		</div>
