

  		<div class="row uc_data_container ucSwitchContentContainer" id="uc_tab_data_listuser" >
           <div class="ucSearchBar">
                <div class="ucSideBarMenuTrigger"><i class="ico-keypad"></i></div>
                 <div class="container-fluid">
                         
                         <div class="row">
                          <div class="col-lg-8 col-md-10">
                           <form class="form-inline">
                                <div class="ucSearchWrapper row">
                                  <div class="form-group col-md-4 col-sm-4 col-xs-4">
                                    <select class="form-control ucSearchSelect" id="">
                                        <option>Name</option>
                                        <option>Session</option>
                                        <option>Browser</option>
                                        <option>Operating System</option>
                                        <option>Device</option>
                                        <option>Country</option>
                                    </select>
                                    
                                  </div>
                                  <div class="form-group col-md-8 col-sm-8 col-xs-8 ">
                                    <input type="text" class="form-control" >
                                  </div>
                                </div>
                                <button type="submit" class="btn ucSearchBtn">Search</button>
                                  
                              

                            </form>
                            <div class="">
                              
                               
                            </div><!-- /input-group -->
                          </div><!-- /.col-lg-6 -->
                          
                        </div><!-- /.row -->
                        <span class="ucAddFilterBtn"><i class="ico-filter2"></i></span>
                 </div>
            </div>
              
               
                
                  <div class="col-md-12">

              
                        <div class="row">
                            <div class="col-md-12">
                            <button class="btn btn-primary pull-right" id="ucSendMessageGroupBtn">Send Message</button>
                            </div></div>
                            
                        <div class="row">
                            <div class="col-md-12">
                                
                                
                                

                                <table class="table table-striped uc_table" id="uc_visitor_list">
                                    <thead>
                                        <tr>
                                            <th class="uc_table_input_control"><input id="uc-all-user-select" type="checkbox"><label for="uc-all-user-select"></label></th>
                                            <th class="ucUserListSortableColumn" data-sortColumn="visitordata.name">
                                                <div class="uc_table_header">
                                                    Name <i class="fa fa-caret-up"></i><i class="fa fa-caret-down"></i>
                                                </div>
                                            </th>
                                            <th>
                                                <div class="uc_table_header">
                                                    Session
                                                </div>
                                            </th>
                                            <th class="ucUserListSortableColumn" data-sortColumn="sessions.agentinfo.browser">
                                                <div class="uc_table_header">
                                                    Browser <i class="fa fa-caret-up"></i><i class="fa fa-caret-down"></i>
                                                </div>
                                            </th>
                                            <th class="ucUserListSortableColumn" data-sortColumn="sessions.agentinfo.os">
                                                <div class="uc_table_header">
                                                    Operating System <i class="fa fa-caret-up"></i><i class="fa fa-caret-down"></i>
                                                </div>
                                            </th>
                                            <th>
                                                <div class="uc_table_header">
                                                    Device
                                                </div>
                                            </th>
                                            <th class="ucUserListSortableColumn" data-sortColumn="sessions.geolocationinfo.country">
                                                <div class="uc_table_header">
                                                    Country <i class="fa fa-caret-up"></i><i class="fa fa-caret-down"></i>
                                                </div>
                                            </th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                       <tr rv-each-visitor="list">
                                           <td class="uc_td_input_control"><input rv-visitorid="visitor" class="uc-user-select" type="checkbox"><label></label></td>
                                           <td>
                                               <div class="ucUserBaseDetails ucVisitorPageTrigger" rv-data-visitorid="visitor._id">
                                                   <div class="ucUserCurrentStatus">
                                                       <span class="ucUserOnline"></span>
                                                       <div class="ucUserPicWrapper">
                                                           <img src="images/app/listing/ucUserPic.png" alt=""/>
                                                       </div>

                                                       <div class="ucUserNameAndEmail">
                                                           <span class="ucUserName">{visitor.visitordata.name}</span>
                                                           <span class="ucUserEmail">{visitor.visitordata.email}</span>
                                                       </div>
                                                   </div>

                                               </div>
                                           </td>
                                           <td class="text-center" rv-sessioncount="visitor.sessions"></td>
                                           <td> <div class="ucUserBrowserIcon" rv-latestbrowser="visitor.sessions"></div></td>
                                           <td> <div class="ucUserOSIcon" rv-latestplatform="visitor.sessions"></div> </td>
                                           <td class="text-center"><div class="ucUserDeviceIcon desktop"></div></td>
                                           <td>India</td>
                                           <td>
                                               <div class="dropdown ucUsersListMoreOptions">
                                                  <span class="dropdown-toggle" type="button" id="ucUsersListMoreOptions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                                    &#8226;&#8226;&#8226;
                                                  </span>
                                                  <ul class="dropdown-menu" aria-labelledby="ucUsersListMoreOptions">
                                                    <li><a href="#" class="ucSendMessageSingleTrigger">Send Email</a></li>
                                                    <li><a href="#" class="ucVisitorPageTrigger" rv-data-visitorid="visitor._id">User Profile</a></li>
                                                  </ul>
                                                </div>
                                           </td>
                                       </tr>

                                       <!--<tr>
                                           <td class="uc_td_input_control"><input id="uc-user-select" type="checkbox"><label for="uc-user-select"></label></td>
                                           <td>
                                               <div class="ucUserBaseDetails">
                                                   <div class="ucUserCurrentStatus">
                                                       <span class="ucUserOnline"></span>
                                                       <div class="ucUserPicWrapper">
                                                           <img src="images/app/listing/ucUserPic.png" alt=""/>
                                                       </div>

                                                       <div class="ucUserNameAndEmail">
                                                           <span class="ucUserName">John</span>
                                                           <span class="ucUserEmail">info@johnabragham.com</span>
                                                       </div>
                                                   </div>

                                               </div>
                                           </td>
                                           <td class="text-center">20</td>
                                           <td> <div class="ucUserBrowserIcon chrome">Chrome<span>(v56.0)</span></div></td>
                                           <td> <div class="ucUserOSIcon ios">macOS Sierra<span>(v10.12)</span></div> </td>
                                           <td class="text-center"><div class="ucUserDeviceIcon desktop"></div></td>
                                           <td>India</td>
                                           <td>
                                               <div class="dropdown ucUsersListMoreOptions">
                                                  <span class="dropdown-toggle" type="button" id="ucUsersListMoreOptions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                                    &#8226;&#8226;&#8226;
                                                  </span>
                                                  <ul class="dropdown-menu" aria-labelledby="ucUsersListMoreOptions">
                                                    <li><a href="#">Send Email</a></li>
                                                    <li><a href="#">User Profile</a></li>
                                                  </ul>
                                                </div>
                                           </td>
                                       </tr>
                                       <tr>
                                           <td class="uc_td_input_control"><input id="uc-user-select2" type="checkbox"><label for="uc-user-select2"></label></td>
                                           <td>
                                               <div class="ucUserBaseDetails">
                                                   <div class="ucUserCurrentStatus">
                                                       <span class="ucUserOffline"></span>
                                                       <div class="ucUserPicWrapper">
                                                           <span class="ucUserPicWithText">G</span>
                                                       </div>

                                                       <div class="ucUserNameAndEmail">
                                                           <span class="ucUserName">George</span>
                                                           <span class="ucUserEmail">george@gmail.com</span>
                                                       </div>
                                                   </div>

                                               </div>
                                           </td>
                                           <td class="text-center">20</td>
                                           <td><div class="ucUserBrowserIcon safari">Safari<span>(v10.0)</span></div></td>
                                           <td><div class="ucUserOSIcon windows">Windows 10<span>(v10.0)</span></div></td>
                                           <td class="text-center"><div class="ucUserDeviceIcon mobile"></div></td>
                                           <td>India</td>
                                           <td>
                                               <div class="dropdown ucUsersListMoreOptions">
                                                  <span class="dropdown-toggle" type="button" id="ucUsersListMoreOptions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                                    &#8226;&#8226;&#8226;
                                                  </span>
                                                  <ul class="dropdown-menu" aria-labelledby="ucUsersListMoreOptions">
                                                    <li><a href="#">Send Email</a></li>
                                                    <li><a href="#">User Profile</a></li>
                                                  </ul>
                                                </div>
                                           </td>
                                       </tr>
                                       <tr>
                                           <td class="uc_td_input_control"><input id="uc-user-select3" type="checkbox"><label for="uc-user-select3"></label></td>
                                           <td>
                                               <div class="ucUserBaseDetails">
                                                   <div class="ucUserCurrentStatus">
                                                       <span class="ucUserOnline"></span>
                                                       <div class="ucUserPicWrapper">
                                                           <span class="ucUserPicWithText">G</span>
                                                       </div>

                                                       <div class="ucUserNameAndEmail">
                                                           <span class="ucUserName">George</span>
                                                           <span class="ucUserEmail">george@gmail.com</span>
                                                       </div>
                                                   </div>

                                               </div>
                                           </td>
                                           <td class="text-center">20</td>
                                           <td><div class="ucUserBrowserIcon firefox">Firefox<span>(v10.5)</span></div></td>
                                           <td><div class="ucUserOSIcon linux">Linux<span>(v10.0)</span></div></td>
                                           <td class="text-center"><div class="ucUserDeviceIcon tablet"></div></td>
                                           <td>India</td>
                                           <td>
                                               <div class="dropdown ucUsersListMoreOptions">
                                                  <span class="dropdown-toggle" type="button" id="ucUsersListMoreOptions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                                    &#8226;&#8226;&#8226;
                                                  </span>
                                                  <ul class="dropdown-menu" aria-labelledby="ucUsersListMoreOptions">
                                                    <li><a href="#">Send Email</a></li>
                                                    <li><a href="#">User Profile</a></li>
                                                  </ul>
                                                </div>
                                           </td>
                                       </tr>-->
                                    </tbody>
                                </table>


                            </div>
                        </div>
                    </div>

                </div>
