<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="A Open-Source platform to track, engage and convert users of your application, record events performed by them to improve usability with the help of reported metrics." /> 
  <meta name="keywords" content="" /> 
  <meta name="resource-type" content="Document" /> 
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name='MobileOptimized' content='320'>
  <meta name="distribution" content="Global" /> 
  <meta name="copyright" content="Copyright 2008-2017, A Produle Systems (P) Limited" /> 
  <meta name="author" content="Produle" /> 
  <meta name="language" content="English" /> 
  <title>Usercom</title>
  <link rel="shortcut icon" href="images/favicon.ico" />