/**
 * Copyright - A Produle Systems Private Limited. All Rights Reserved.
 *
 * @desc Styles included across the application
 *
 */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');

body
{
	width:100%;
	height:100%;
	font-family: 'Open Sans', sans-serif;
}

.ucapp_editbtncls,.ucapp_deletebtncls
{
	cursor:pointer;
}

.btn:focus
{
    outline: none !important;
}
btn
{
	height: 35px;
    padding: 4px 25px;
    border: none;
    color: #fff;
    background: #2b9af3;
}

.uc_mt_small
{
    margin-top: 10px;
}

.uc_mt_medium
{
    margin-top: 30px;
}

.uc_mt_large
{
    margin-top: 50px;
}

.uc_tile
{
    height: 100px;
    background-color: #e7e7e7;
    color: #777;
    cursor: pointer;
}

.uc_tile_heading
{
    font-size: 18px;
    margin: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.uc_tile_value
{
    font-size: 49px;
    text-align: right;
    margin: 15px;
}

.uc_tile_primary
{
    background-color: #428bca;
    color: #FFF;
}

.uc_tile_info
{
    background-color: #5bc0de;
    color: #FFF;
}

.uc_tile_success
{
    background-color: #5cb85c;
    color: #FFF;
}

.uc_tile_warning
{
    background-color: #ffbb33;
    color: #FFF;
}

.uc_tile_danger
{
    background-color: #d9534f;
    color: #FFF;
}

input[type="text"], input[type="email"], input[type="password"]
{
	border:none;
	border-bottom: 1px solid #e8eced;
    box-shadow: none;
    border-radius: 0;
    font-weight: 300;
    font-size: 13px;
    text-align: left;
    margin-bottom: 5px;
}
textarea.form-control
{
	border:none;
	border-bottom: 1px solid #e8eced;
    box-shadow: none;
    border-radius: 0;
    font-weight: 300;
    font-size: 13px;
    text-align: left;
    margin-bottom: 5px;
}
h2
{
	font-size:32px;
	font-weight:300;
	color: #788f9d;
	text-align: center;
	margin: 0 auto 30px;
}
.ucFormWrapper
{
	text-align: center;
	margin-top: 10%;
}
.form-group .btn
{
	margin: 10px 0;
	padding: 8px 30px !important;
	background: #2B9AF3;
    color: #fff;
    font-size: 13px;
    border-radius: 30px;
    border: none;
    transition: all 2s ease;
}
.form-group .btn:hover, .form-group .btn:focus
{
	background: #2586d4;
	color:#fff;
	outline: none;
}
.form-control:focus {
    border-color: #e8eced;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
/**** Index Page Styles Starts****/
.ucIndexPageWrapper
{
	width: 100%;
	float:left;
}
.ucSidebar
{
	width: 270px;
	height: 100vh;
	background-color: #f9f9f9;
	border-right: 1px solid #e9edee;
	float:left;
	padding: 15px;
	transition: 0.2s;
}
.ucMainContent
{
	width: calc(100% - 270px);
	float: left;
	transition: margin-left .2s;
}
#ucMainDashboard
{
	padding: 3px 0 15px 0px;
    margin: 10px 0 20px;
    border-bottom: 1px solid #e9edee;
    cursor: pointer;
}
#uc_tab_data_dashboard
{
	padding-top: 20px;
}
#ucMainDashboard i
{
	margin-right: 10px;
	font-weight: bold;
}
#ucMainListing
{
	background: url('../../images/app/listing/ucListingIcon.png') no-repeat left top;
	padding-left: 30px;
}
#ucCustomFilter
{
	background: url('../../images/app/listing/ucFilterIcon.png') no-repeat left top;
	padding-left: 30px;
}
.ucSidebar h5
{
	font-size: 16px;
    font-weight: 400;
    color: #3d4c53;
    margin: 20px 0 10px;
}
.ucAddNewFilter
{
	float: right;
    font-size: 20px;
    color: #000;
    cursor: pointer;
}
.ucAddNewFilter .ico-plus2
{
	color:#777;
	font-weight: bold;
}
.ucSidebar ul
{
	padding:0 0 15px;
	margin:0 0 20px;
	border-bottom: 1px solid #e9edee;
}
.ucSidebar ul li
{
	list-style: none;
	line-height: 40px;
    font-size: 12px;
    color: #777;
    transition: all 0.5s ease;
    cursor: pointer;
}
.ucSidebar ul li:hover
{
	color: #111;
}
.ucUserDefinedFilterOptions li .ico-settings
{
	cursor: default;
}


.ucUserDefinedFilterOptions li span
{
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 140px;
    position: absolute;
    
}
.ucSidebar ul li i
{
	color: #777;
    padding-right: 10px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: 0px;
    font-size: 17px;
    cursor: pointer;
    font-weight: bold;
}
.ucFilterSettingBtn i
{
	cursor: pointer;
}
.ucCurrentPage, .ucCurrentPage .ico-settings
{
	color: #2b9af3 !important;
	font-weight: bold;
}
.ucSearchBar 
{
	background: #6e6d84;
    border-bottom: 1px solid #e9edee;
    width: 100%;
    min-height: 50px;
    margin-bottom: 40px;
    padding: 15px;
    position: relative;
}
.ucSearchWrapper
{
	background:#fff;
	width: 400px;
	border-radius: 20px;
	border: 1px solid #e9edee;
	padding-left:10px;
	float: left;
    margin-right: 20px;
}
.ucSearchSelect
{
	color: #8ea4b1;
    /* background-color: #f9f9f9;
    border-color: #dddedf; */
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    font-weight: 300;
    font-size: 12px;
    padding: 0px;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    box-shadow: none;
    width:100% !important;
    background: url(../../images/app/listing/filter/ucListingFilterDropdownIcon.png) no-repeat right center;
    padding-right: 30px;
    overflow: hidden;
    position: absolute;
}
.ucSearchBar input[type="text"]
{
    box-shadow: none;
    border-radius: 0;
    font-weight: 300;
    font-size: 13px;
    height: 35px;
    border: 0;
    text-align: left;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    margin-bottom:0;
    border-left: 1px solid #e3e8e9;
    width: 100% !important;
}
.ucSearchBar .ucSearchBtn
{
	height: 35px;
    padding: 4px 25px;
    border-radius: 30px;
    border: none;
    color: #fff;
    background: #2b9af3;
}
#ucSendMessageGroupBtn
{
	float:left;
	margin-right: 10px;
	background-color: #2b9af3;
    border-color: #177ed1;
    border-radius: 30px;
    padding: 8px 20px;
}
.ucSendMessageWrapper
{
	position:absolute;
	top: 15px;
	right: 10px;
}
.ucSearchBar .ucAddFilterBtn,
.ucSearchBar #ucVisitorFieldsPopover
{
	color: #B1B0BF;
    font-size: 25px;
    cursor: pointer;
    transition: 0.5s all ease;
    position: relative;
    top: 2px;
}
.ucSearchBar .ucAddFilterBtn:hover,
.ucSearchBar #ucVisitorFieldsPopover:hover
{
	color: #ccc;
}
.ucSideBarMenuTrigger
{
	width: 40px;
    height: 40px;
    float: left;
    margin-right: 20px;
    display: none;
    position: relative;
    z-index: 9;
    padding: 2px 0 0 2px;
}
.ucSideBarMenuTrigger i
{
	color: #fff;
	font-size: 35px;
}
.ucSidebarCloseBtn
{
	width:25px;
	height:25px;
	position: absolute;
	right:10px;
	top: 10px;
	display: none;
}
.ucSidebarCloseBtn i
{
	font-size: 25px;
}
/**** Modal Styles Starts****/
.ucModal
{
	text-align: center;
}
.ucModal .modal-body
{
	padding:35px 15px;
}
.ucModal .modal-body img
{
	margin-bottom: 10px;
}
.ucModal h2
{
	font-size:28px;
	color: #333;
}
.ucModal .modal-body .input-group-btn label
{
	width: 150px;
	border:none;
	/*border-bottom: 1px solid #e8eced;*/
    color: #8ea4b1;
    font-weight: 400;
    font-size: 13px;
    text-align: left;
    margin-bottom: 0px;
    padding: 7px 0px 8px 11px;
}
.ucModal .modal-body .input-group
{
	margin-bottom:20px;
}
.ucModal .modal-body .input-group .form-control
{
	padding:0px;
}
.ucModal .modal-body .ucCancelBtn
{
	width: 133px;
	height:45px;
	border-radius:5px;
	border: 1px solid #7b8d98;
	color: #7b8d98;
	background: transparent;
	margin:15px 5px 0px;
}
.ucModal .modal-body .ucSaveBtn
{
	width: 133px;
	height:45px;
	padding: 14px 35px;
	border-radius:5px;
	border: none;
	color: #fff;
	background: #2b9af3;
	margin:15px 5px 0px;
}
.ucModal .modal-body .ucSendBtn
{
	height:45px;
	padding: 14px 35px;
	border-radius:5px;
	border: none;
	color: #fff;
	background: #2b9af3;
	margin:15px 5px 0px;
}
.ucModal .modal-body .ucSaveBtn:focus, .ucModal .modal-body .ucSaveBtn:hover, .ucModal .modal-body .ucCancelBtn:focus, .ucModal .modal-body .ucCancelBtn:hover
{
	outline: none;
	box-shadow: none;
}
.ucNoteSection
{
	background-color: #f8f8f8;
	border-radius: 5px;
	color: #333;
	padding: 20px;
	width: 200px;
    height: 538px;
    position: relative;
    float: left;
    text-align: left;
    overflow-y: auto;
}
.ucNoteSection h4
{
	margin-top:0;
}
.ucNoteSection i
{
	font-weight: bold;
}
.ucNoteSection ul
{
	margin:0;
	padding:0;
	list-style: none;
}
.ucNoteSection ul li
{
	
	font-weight: 300;
	color: #777;
	padding: 3px 0;
}

#ucSendMessageModal textarea.form-control
{
	margin: 10px 0 20px !important;
}
#ucSendMessageModal .modal-body
{
	padding:0;
	overflow: auto;
}
.ucSendMessageSection
{
	float: right;
    width: calc(100% - 200px);
    padding: 20px;
}
.ucCheckboxLabel
{
	font-size: 12px;
}
#ucSendMessageModal .modal-dialog
{
	width:800px;
}
/*Modal Styles End*/



#ucPredefinedFilterList li .ucFilterSettingBtn,
#ucUserdefinedFilterList li .ucFilterSettingBtn
{
    display: none;
    float: right;
}

#ucPredefinedFilterList li:hover .ucFilterSettingBtn,
#ucUserdefinedFilterList li:hover .ucFilterSettingBtn
{
    display: inline-block;
}


.uc_table_header
{
    position: relative;
    text-align: center;
}

.uc_table_header .fa-caret-up,
.uc_table_header .fa-caret-down
{
    position: absolute;
    top: 0px;
    right: 0px;
    cursor: pointer;
}

.uc_table_header .fa-caret-up
{
    top: 0px;
}

.uc_table_header .fa-caret-down
{
    top: 7px;
}

.ucUserProfileMetaContainer
{
    border: 1px solid #DDD;
}

.ucUserProfileHeading
{
    padding : 0px 30px;
}

.ucUserProfileMetaContainer .table
{
    margin-bottom: 0px;
}

.ucUserBaseDetails
{
    cursor: pointer;
}
#ucSendMessageModal .close
{
	position: absolute;
	top:10px; 
	right:10px;
}
.close:hover, .close:focus
{
	outline: none;
}
#ucSendMessageModal .ucSendBtn
{
	padding: 10px 15px;
    margin: 15px 0px 0px;
}
.btn-group .ucSendBtn:first-child
{
    padding-left: 25px;
    border-top-left-radius: 22px;
    border-bottom-left-radius: 22px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
.btn-group .ucSendBtn.dropdown-toggle
{
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 22px;
    border-bottom-right-radius: 22px;
}
.ucExistTemplate
{
	width: calc(100% - 25px) !important;
    display: inline-block !important;
    float: left !important;
}

#ucDeleteEmailTemplateBtn,
#ucDeleteBrowserNotificationTemplateBtn
{	
	width:16px !important;
	margin-right:0 !important;
	float: right;
}
.ucLoaderContent {
    color: #2B9AF3;
    font-style: italic;
}



@media only screen and (max-width:992px) 
{
	.ucSidebar{width:0; position: fixed; padding:0;top:0; left:0; height: 100%; display:none; overflow: auto; }
	.ucMainContent{width: 100%; }
	.ucSearchWrapper .form-group {margin-bottom: 0;}
	.navbar-collapse {box-shadow: none; border-color:#3e3c5a; margin-top: 10px;}
	#ucHeader.navbar-default .navbar-toggle { background: #3e3c5a; border-color: transparent;}
	#ucHeader.navbar-default .navbar-toggle .icon-bar{background-color: #dfdef5;}
	.ucSideBarMenuTrigger { display: block; }
	.ucSidebar.open{width:270px; padding:15px;position: fixed; top:0; left:0; height: 100%;display:block; z-index: 999;}
	.ucMainContent.open{margin-left: 270px;}
	.ucIndexPageWrapper.open{overflow:hidden;}
	#ucHeader.open{margin-left: 270px;}
	.ucSidebarCloseBtn{display: block;}
	.ucMainContent.open:after {    content: ""; position: absolute; top: 0; left: 0; right: 0; bottom: 0; background: rgba(0,0,0,0.7); z-index:99; }
	.ucSearchWrapper{width:60%;}
	#ucSendMessageModal .modal-dialog { width:auto; }
}
@media only screen and (max-width:580px) 
{
	.ucNoteSection{ width: 100%; height: auto; }
	.ucNoteSection ul li {display:inline; }
	.ucNoteSection ul li:after { content:','; padding: 0 3px;}
	.ucNoteSection ul li:last-child:after { content:''; }
	.ucSendMessageSection{ width:100%;}
}
@media only screen and (max-width:480px) 
{
	.ucSearchBar .form-inline { width:100%; display: inline-block; margin-top: 10px;}
	.ucSearchWrapper {width: 65%; margin-right: 10px;}
	.ucFilterModal .group-actions , .ucFilterModal .modal-footer .ucCancelBtn, .rules-list select.form-control { margin-bottom:10px !important;}
	
}


.ucCurrentFilter
{
    color: #000 !important;
    font-weight: bold;
}

.mfTooltip
{
    cursor: pointer;
}

.ucTabBtnGroup
{
	margin-bottom: 20px;
}

.ucVisitorFieldList
{
    width: 200px;
    list-style: none;
    padding: 0px;
}

.ucVisitorFieldList li span
{
    font-weight: normal;
    cursor: pointer;
}

#ucVisitorListPlaceholder {
    background-color: #EEEEEE;
    color: #333333;
    padding: 40px;
    border: 1px solid #AAAAAA;
    text-align: center;
}
/**
 * CSS Loader animation - Start
 */
@-webkit-keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-ms-keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.ucAjaxLoader {
    background: none;
    position: relative;
    width: 75px;
    height: 75px;
    margin: 10px auto;
}
.ucAjaxLoader > div {
    position: absolute;
    display: block;
    width: 60px;
    height: 60px;
    top: 7px;
    left: 7px;
    border-radius: 30px;
    box-shadow: 0 3px 0 0 #59ebff;
    -ms-animation: uil-ring-anim 1s linear infinite;
    -moz-animation: uil-ring-anim 1s linear infinite;
    -webkit-animation: uil-ring-anim 1s linear infinite;
    -o-animation: uil-ring-anim 1s linear infinite;
    animation: uil-ring-anim 1s linear infinite;
}
/**
 * CSS Loader animation - End
**/

/**
 * Div Table Global styles - Start
**/
.ucTable
{
    display: table;
    width: 100%;
    border-top: 1px solid #ddd;
}
.ucTableRow
{
    display: table-row;
}
.ucTableHeading
{
    display: table-header-group;
}
.ucTableBody
{
    display: table-row-group;
}
.ucTableFoot
{
    display: table-footer-group;
}
.ucTableCell,
.ucTableHead
{
    display: table-cell;
    border-bottom: 1px solid #ddd;
    padding: 8px 5px;
    vertical-align: middle;
}
.ucTableRow:hover .ucTableCell
{
    box-shadow: inset 0px -10px 18px -18px rgba(0,0,0,0.6);
    -webkit-box-shadow: inset 0px -12px 18px -18px rgba(0,0,0,0.6);
    -moz-box-shadow: inset 0px -10px 18px -18px rgba(0,0,0,0.6);
}

.ucTableHead
{
    background: #fff;
    color: #8ea4b1;
	text-transform: uppercase;
    font-size:13px;
	font-weight: normal;
}

.ucTableStripped .ucTableRow:nth-child(odd)
{
    background-color: #f9f9f9;
}
/**
 * Div Table Global styles - End
**/
