/**
 * Copyright - A Produle Systems Private Limited. All Rights Reserved.
 *
 * @desc Styles included across the application
 *
 */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');

body
{
	width:100%;
	height:100%;
	font-family: 'Open Sans', sans-serif;
}

.ucapp_editbtncls,.ucapp_deletebtncls
{
	cursor:pointer;
}

.ucapp_editbtncls
{
   position: absolute;
   right: 13px;
}

.btn:focus
{
    outline: none !important;
}

btn
{
	height: 35px;
    padding: 4px 25px;
    border: none;
    color: #fff;
    background: #2b9af3;
}

.uc_mt_small
{
    margin-top: 10px;
}

.uc_mt_medium
{
    margin-top: 30px;
}

.uc_mt_large
{
    margin-top: 50px;
}
.uc_tile_icon
{
	width: 80px;
    height: 80px;
    margin: 0 auto;
    top: -40px;
    right: 0;
    border-radius: 50%;
    position: absolute;
    left: 0;
}
.uc_tile
{
    background-color: #f9f9f9;
    border-radius: 10px;
    color: #3d3d3d;
    cursor: pointer;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 20px;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.1);
	box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.1);
}
.uc_current_users_icon
{
	background: url('../../images/app/dashboard/currentUsersIcon.png') no-repeat center center #4dd0e1;
}
.uc_all_users_icon
{
	background: url('../../images/app/dashboard/allUsersIcon.png') no-repeat center center #81c784;
}
.uc_slipping_users_icon
{
	background: url('../../images/app/dashboard/slippingAwayUsersIcon.png') no-repeat center center #7986cb;
}
.uc_tile_heading
{
    font-size: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.uc_tile_value
{
    font-size: 49px;
}

.uc_tile_primary
{
    background-color: #428bca;
    color: #FFF;
}

.uc_tile_info
{
    background-color: #5bc0de;
    color: #FFF;
}

.uc_tile_success
{
    background-color: #5cb85c;
    color: #FFF;
}

.uc_tile_warning
{
    background-color: #ffbb33;
    color: #FFF;
}

.uc_tile_danger
{
    background-color: #d9534f;
    color: #FFF;
}

input[type="text"], input[type="email"], input[type="password"]
{
	border:none;
	border-bottom: 1px solid #e8eced;
    box-shadow: none;
    border-radius: 0;
    font-weight: 300;
    font-size: 13px;
    text-align: left;
    margin-bottom: 5px;
}
textarea.form-control
{
	border:none;
	border-bottom: 1px solid #e8eced;
    box-shadow: none;
    border-radius: 0;
    font-weight: 300;
    font-size: 13px;
    text-align: left;
    margin-bottom: 5px;
}
h2
{
	font-size:32px;
	font-weight:300;
	color: #788f9d;
	text-align: center;
	margin: 0 auto 30px;
}
.ucFormWrapper
{
	text-align: center;
	margin-top: 10%;
}
.form-group .btn
{
	margin: 10px 0;
	padding: 8px 30px !important;
	background: #2B9AF3;
    color: #fff;
    font-size: 13px;
    border-radius: 30px;
    border: none;
    transition: all 2s ease;
}
.form-group .btn:hover, .form-group .btn:focus
{
	background: #2586d4;
	color:#fff;
	outline: none;
}
.form-control:focus {
    border-color: #e8eced;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
/**** Index Page Styles Starts****/
.ucIndexPageWrapper, .ucVisitorPageWrapper
{
	width: 100%;
	float:left;
}
.ucSidebar, .ucUserDetails
{
	width: 270px;
	background-color: #1a1d30;
	float:left;
	transition: 0.2s;
	position: fixed;
	box-sizing: border-box;
}
.ucSidebarSettingsSection
{
	width:100%;
	position : absolute;
	bottom: 0px;
	background: rgba(0,0,0,0.2);
}
#ucSettingsMenu
{
	padding:0;
}
#ucSettingsMenu > ul
{
	width: 100%;
	margin:0;
}
#ucSettingsMenu > ul > li:first-child 
{
	width:220px;
}
#ucSettingsMenu > ul > li
{
	float: left;
}
#ucSettingsMenu > ul > li > a
{
	padding: 15px;
}
#ucSettingsMenu > ul > li.open > a
{
	background-color: transparent !important;
}
#ucSettingsMenu > ul > li > a span
{
	color: #fff;
	opacity: 0.5;
}
#ucSettingsMenu ul li a:hover, #ucSettingsMenu ul li a:focus, #ucSettingsMenu > ul > li > a:hover, #ucSettingsMenu > ul > li > a:focus
{
	background-color: transparent;
}
.ucMainContent
{
	width: calc(100% - 270px);
	float: right;
	transition: margin-left .2s;
}
#ucMainDashboard
{
	padding: 3px 0 15px 0px;
    margin: 10px 0 20px;
    cursor: pointer;
}
#uc_tab_data_dashboard
{
	padding-top: 20px;
}
#ucMainDashboard i
{
	margin-right: 10px;
	font-weight: bold;
}
#ucAppMenu
{
	margin:0;
	padding:0 20px;
	display: inline-block;
    width: 100%;
}
#ucAppMenu ul
{
	float:right;
}
#ucAppMenu .navbar-nav li>a
{
	color:rgba(255,255,255,0.5);
}
#ucAppMenu .navbar-nav li.open>a
{
	background-color: transparent !important; 
}
#uc_app_list, .uc_currentuser_submenu
{
	width: 260px;
}
#ucUserdefinedFilterList
{
	overflow: auto;
	margin-right: -10px;
}
/* #ucUserdefinedFilterList:hover
{
	overflow: auto;
} */
#ucUserdefinedFilterList:hover .ucFilterSettingBtn
{
	margin-right: 5px;
}
/* #ucUserdefinedFilterList:hover .ucFilterListVisitorCount
{
	right : 35px;
} */
#ucUserdefinedFilterList::-webkit-scrollbar {
    width: 5px;
    border-radius: 5px;
}
 
#ucUserdefinedFilterList::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 5px;
}
 
#ucUserdefinedFilterList::-webkit-scrollbar-thumb {
  background-color: #0e0f15;
  border-radius: 10px;
}
#uc_app_list li a i
{
	color: #333;
	padding:0;
}
#uc_currentapp_name
{	
	max-width: 190px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    float: left;
    text-align: right;
    margin-right: 5px;
}
#ucAppMenu .navbar-nav li>a:hover, #ucAppMenu .navbar-nav li>a:focus
{
	background-color: transparent;
}


.ucSidebarWrapper
{
	padding: 0 20px;
}
.ucSidebarWrapper>ul
{
	padding:0;
}
#ucPredefinedFilterList li, #ucUserdefinedFilterList li
{
	
}
#ucPredefinedFilterList li:hover, #ucUserdefinedFilterList li:hover
{
	
}
#ucMainListing
{
	/* background: url('../../images/app/listing/ucListingIcon.png') no-repeat left top;
	padding-left: 30px; */
}
#ucCustomFilter
{
	/* background: url('../../images/app/listing/ucFilterIcon.png') no-repeat left top;
	padding-left: 30px; */
}
.ucSidebar h5
{
	font-size: 16px;
    font-weight: 400;
    color: #fff;
    margin: 20px 0 10px;
}
.ucAddNewFilter
{
	float: right;
    font-size: 20px;
    color: #000;
    cursor: pointer;
    margin-right: 2px;
    margin-top: -2px;
}
.ucAddNewFilter .ico-plus2
{
	color:#777;
	font-weight: bold;
}
.ucSidebar>ul
{
	padding:0 0 15px;
	margin:0 0 20px;
	border-bottom: 1px solid #e9edee;
}
.ucSidebar ul li
{
	list-style: none;
	line-height: 40px;
    font-size: 12px;
    color: #fff;
    
    position: relative;
    transition: color 0.5s ease;
    cursor: pointer;
}

.ucUserDefinedFilterOptions li .ico-settings
{
	cursor: default;
}


.ucUserDefinedFilterOptions li .ucFilterListName
{
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 110px;
    position: absolute;
    opacity: 0.5;
}
.ucPredefinedFilterName
{
	opacity:0.5;
}
.ucListingOptions li .ucFilterListVisitorCount
{
	padding: 4px 10px;
    top: 10px;
    right: 0;
    position: absolute;
    font-weight: normal;
    background: rgba(0,0,0,0.8);
}
.ucUserDefinedFilterOptions li .ucFilterListVisitorCount
{
	padding: 4px 10px;
    top: 10px;
    right: 40px;
    position: absolute;
    font-weight: normal;
    background: rgba(0,0,0,0.8);
}
.ucCurrentPage .ucFilterListVisitorCount, .ucCurrentPage .ucFilterListVisitorCount
{
	background: #2b9af3 !important;
}
.ucSidebar ul li i
{
	color: #fff;
	opacity: 0.5;
    padding-right: 10px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: 0px;
    font-size: 17px;
    cursor: pointer;
    font-weight: bold;
}
.ucFilterSettingBtn i
{
	cursor: pointer;
}
#ucDashboardMetricsContainer
{
	padding-top: 50px;
}
.ucCurrentPage, .ucCurrentPage .ico-settings, .ucCurrentPage, .ucCurrentPage .ucFilterListName, .ucCurrentPage .ucPredefinedFilterName
{
	color: #2b9af3 !important;
	font-weight: bold;
	opacity:1 !important;
}
.ucSideBarMenuTriggerWrapper
{
	width:100%;
	position: fixed;
    float: left;
    height: 63px;
    z-index: 9;
    padding: 6px 10px;
    box-sizing: border-box;
    background-color: #fff;
    border-bottom: solid 1px #f1f1f1;
    display: none;
}
.ucSearchBar 
{
    border-bottom: 1px solid #e9edee;
    width: 100%;
    min-height: 50px;
    margin-bottom: 40px;
    padding: 15px;
    position: relative;
}
.ucSearchWrapper
{
	background:#fff;
	width: 400px;
	border-radius: 20px;
	border: 1px solid #e9edee;
	padding-left:10px;
	float: left;
    margin-right: 20px;
}
.ucSearchSelect
{
	color: #8ea4b1;
    /* background-color: #f9f9f9;
    border-color: #dddedf; */
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    font-weight: 300;
    font-size: 12px;
    padding: 0px;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    box-shadow: none;
    width:100% !important;
    background: url(../../images/app/listing/filter/ucListingFilterDropdownIcon.png) no-repeat right center;
    padding-right: 30px;
    overflow: hidden;
    position: absolute;
}
.ucSearchBar input[type="text"]
{
    box-shadow: none;
    border-radius: 0;
    font-weight: 300;
    font-size: 13px;
    height: 35px;
    border: 0;
    text-align: left;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    margin-bottom:0;
    border-left: 1px solid #e3e8e9;
    width: 100% !important;
}
.ucSearchBar .ucSearchBtn
{
	height: 35px;
    padding: 4px 25px;
    border-radius: 30px;
    border: none;
    color: #fff;
    background: #2b9af3;
}
#ucSendMessageGroupBtn
{
	display:none
	float:left;
	margin-right: 10px;
	background-color: #2b9af3;
    border-color: #177ed1;
    border-radius: 30px;
    padding: 8px 20px;
    margin-top: -10px;
}
.ucSendMessageWrapper
{
	position:absolute;
	top: 8px;
	right: 10px;
}
.ucSearchBar #ucDeleteVisitorBtn,
.ucSearchBar .ucAddFilterBtn,
.ucSearchBar #ucVisitorFieldsPopover
{
	color: #B1B0BF;
    font-size: 25px;
    cursor: pointer;
    transition: 0.5s all ease;
    position: relative;
    top: 2px;
    margin: 0 5px;
}

.ucSearchBar #ucDeleteVisitorBtn:hover,
.ucSearchBar .ucAddFilterBtn:hover,
.ucSearchBar #ucVisitorFieldsPopover:hover
{
	color: #ccc;
}
.ucSideBarMenuTrigger
{
	width: 40px;
    height: 40px;
    float: right;
    margin-top: 5px;
    display: none;
    position: relative;
    z-index: 9;
    padding: 2px 0 0 2px;
}
.ucSideBarMenuTrigger i
{
	color: #333;
	font-size: 35px;
}
.ucSideBarMenuTriggerWrapper .logo
{
	display: inline-block;
}
.ucSidebarCloseBtn
{
	width:25px;
	height:25px;
	position: absolute;
	right:10px;
	top: 10px;
	display: none;
}
.ucSidebarCloseBtn i
{
	font-size: 25px;
}
/**** Modal Styles Starts****/
.ucModal
{
	text-align: center;
}
.ucModal .modal-body
{
	padding:35px 15px;
}
.ucModal .modal-body img
{
	margin-bottom: 10px;
}
.ucModal h2
{
	font-size:28px;
	color: #333;
}
.ucModal .modal-body .input-group-btn label
{
	width: 150px;
	border:none;
	/*border-bottom: 1px solid #e8eced;*/
    color: #8ea4b1;
    font-weight: 400;
    font-size: 13px;
    text-align: left;
    margin-bottom: 0px;
    padding: 7px 0px 8px 11px;
}
.ucModal .modal-body .input-group
{
	margin-bottom:20px;
}
.ucModal .modal-body .input-group .form-control
{
	padding:0px;
}
.ucModal .modal-body .ucCancelBtn
{
	width: 133px;
	height:45px;
	border-radius:5px;
	border: 1px solid #7b8d98;
	color: #7b8d98;
	background: transparent;
	margin:15px 5px 0px;
}
.ucModal .modal-body .ucSaveBtn
{
	width: 133px;
	height:45px;
	padding: 14px 35px;
	border-radius:5px;
	border: none;
	color: #fff;
	background: #2b9af3;
	margin:15px 5px 0px;
}
.ucModal .modal-body .ucSendBtn
{
	height:45px;
	padding: 14px 35px;
	border-radius:5px;
	border: none;
	color: #fff;
	background: #2b9af3;
	margin:15px 5px 0px;
}
.ucModal .modal-body .ucSaveBtn:focus, .ucModal .modal-body .ucSaveBtn:hover, .ucModal .modal-body .ucCancelBtn:focus, .ucModal .modal-body .ucCancelBtn:hover
{
	outline: none;
	box-shadow: none;
}
.ucNoteSection
{
	background-color: #f8f8f8;
	border-radius: 5px;
	color: #333;
	padding: 20px; 
	width: 200px; 
    position: absolute;
    height: 100%; 
    float: left;
    text-align: left;
    overflow-y: auto;
}
.ucNoteSection h4
{
	margin-top:0;
}
.ucNoteSection i
{
	font-weight: bold;
}
.ucNoteSection ul
{
	margin:0;
	padding:0;
	list-style: none;
}
.ucNoteSection ul li
{
	
	font-weight: 300;
	color: #777;
	padding: 3px 0;
}

#ucSendMessageEmailBodyWrapper
{
	margin: 5px 0 20px !important;
}
#ucSendMessageModal .modal-body
{
	padding:0;
	overflow: auto;
}
.ucSendMessageSection
{
	float: right;
    width: calc(100% - 200px);
    padding: 20px;
}
.ucCheckboxLabel
{
	font-size: 12px;
}
#ucSendMessageModal .modal-dialog
{
	width:800px;
}
/*Modal Styles End*/



#ucPredefinedFilterList li .ucFilterSettingBtn,
#ucUserdefinedFilterList li .ucFilterSettingBtn
{
    display: inline-block;
    float: right;
    margin-right: 10px;
}

#ucPredefinedFilterList li .ucFilterSettingBtn i,
#ucUserdefinedFilterList li .ucFilterSettingBtn i
{
    font-weight: normal;
}


.uc_table_header
{
    position: relative;
    text-align: center;
}

.uc_table_header .fa-caret-up,
.uc_table_header .fa-caret-down
{
    position: absolute;
    top: 0px;
    right: 0px;
    cursor: pointer;
}

.uc_table_header .fa-caret-up
{
    top: 0px;
}

.uc_table_header .fa-caret-down
{
    top: 7px;
}


.ucUserProfileHeading
{
    padding : 0px 30px;
}



.ucUserBaseDetails
{
    cursor: pointer;
    display:table;
}
.ucUserCurrentStatus 
{
	display:table-row;
}
#ucSendMessageModal .close
{
	position: absolute;
	top:10px; 
	right:10px;
}
.close:hover, .close:focus
{
	outline: none;
}
#ucSendMessageModal .ucSendBtn
{
	padding: 10px 15px;
    margin: 15px 0px 0px;
}
.btn-group .ucSendBtn:first-child
{
    padding-left: 25px;
    border-top-left-radius: 22px;
    border-bottom-left-radius: 22px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
.btn-group .ucSendBtn.dropdown-toggle
{
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 22px;
    border-bottom-right-radius: 22px;
}
.ucExistTemplate
{
	width: calc(100% - 25px) !important;
    display: inline-block !important;
    float: left !important;
}

#ucDeleteEmailTemplateBtn,
#ucDeleteBrowserNotificationTemplateBtn
{	
	width:16px !important;
	margin-right:0 !important;
	float: right;
}
.ucLoaderContent {
    color: #2B9AF3;
    font-style: italic;
}

#ucEmailTemplateDeleteAjaxLoader,
#ucBrowserNotificationTemplateDeleteAjaxLoader {
    margin: 0px;
    float: right;
    height: 20px;
    width: 20px;
    transform: scale(0.4);
    margin-right: 5px;
}
#ucVisitorDetail
{
	text-align: center;
}
.ucUserDetails
{
	padding: 50px 40px 0;
	box-sizing: border-box;
}
.ucVisitorPageWrapper .ucUserPic
{
	display: inline-block;
	margin-bottom: 15px;
}
.ucVisitorPageWrapper .ucUserName
{
	display: block;
    font-size: 18px;
    color: #fff;
    font-weight: normal;
    width: 190px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}
.ucVisitorPageWrapper .ucUserEmail
{
	color: #939399;
	width: 190px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}
.ucVisitorPageWrapper .ucIconDetailsWrapper
{
	float: left;
    padding-left: 15px;
    text-align: left;
}
.ucUserDetailsSection
{
	display: block;
    float: left;
    margin-bottom: 30px;
}
.ucIconIndication
{
	width: 42px;
	height: 42px;
	background-color: #121420;
	border-radius: 10px;
	float: left;
	padding: 9px;
}
.ucIconTitleName
{
	font-size: 13px;
	font-weight: bold;
	text-transform: uppercase;
	color:#fff;
}
.ucIconDetails
{
	font-size: 13px;
	color: #939399;
	width: 132px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.ucIconDetails.date
{
	background: url('../../images/app/visitordetails/dateIcon.png') no-repeat left center;
	padding-left: 24px;
    margin: 5px 0;
}
.ucIconDetails.time
{
	background: url('../../images/app/visitordetails/timeIcon.png') no-repeat left center;
	padding-left: 24px;
}
.ucVisitorPageWrapper .ucUserProfileIntial
{
	border-radius: 50%;
    height: 100%;
    padding: 6px 13px;
    font-size: 35px;
    color: #FFFFFF;
    text-align: center;
    line-height: 70px;
}
.ucUserFullDetails
{
	margin-top: 50px;
}
.ucVisitorPageWrapper .ucUserPicWrapper, .ucVisitorPageWrapper .ucUserPicWrapper img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: #ccc;
}
.ucVisitorPageWrapper .ucMainContent
{
	padding: 30px;
	box-sizing: border-box;
}
#ucVisitorDetailsTab li a
{
	color: #333;	
}
#ucVisitorDetailsTab li
{
	margin-right: 40px;
}
#ucVisitorDetailsTab li.active a , #ucVisitorDetailsTab li.active a:hover, #ucVisitorDetailsTab li.active a:focus
{
	color: #2b9af3;	
	border: none;
	border-bottom: 2px solid #2b9af3;
}
#ucVisitorDetailsTab li a , #ucVisitorDetailsTab li a:hover, #ucVisitorDetailsTab li a:focus
{
	background: none;
	border: none;
	outline: none;
}
#ucVisitorPageBackBtn
{
	position: absolute;
    top: 15px;
    right: 45px;
    background: transparent;
    border: 1px solid #2b9af3;
    color: #2b9af3;
}
#ucVisitorPageBackBtn:focus
{
	box-shadow: none;
}
#ucVisitorMessages .ucTableHead
{
	text-align: left;
	padding: 14px 18px;
}
#ucVisitorMessages .ucSmallWidth
{
	width: 15%;
}
#ucVisitorMessages .ucMediumWidth
{
	width: 25%;
}
#ucVisitorMessages .ucLargeWidth
{
	width: 45%;
}
#ucVisitorShortData .ucSideBarMenuTrigger
{
	width: auto;
	height: auto;
}
#ucVisitorShortData .ucUserPicWrapper
{
	    margin: 0 12px 0 0;
}
#ucVisitorShortData button
{
	background: #2B9AEF;
	border: none;
    font-size: 13px;
    margin-top: 5px;
}

@media only screen and (max-width:992px) 
{
	.ucSidebar{width:0; position: fixed; padding:0;top:0; left:0; height: 100%; display:none; overflow: auto; }
	.ucUserDetails{width:0; position: fixed; top:0; left:0; height: 100%; display:none; overflow: auto;}
	.ucVisitorPageWrapper .ucMainContent {margin-top: 70px;}
	.ucMainContent{width: 100%; }
	.ucSearchWrapper .form-group {margin-bottom: 0;}
	.navbar-collapse {box-shadow: none; border-color:#3e3c5a; margin-top: 10px;}
	.ucSidebarSettingsSection .navbar-collapse {box-shadow: none; border-color:#3e3c5a; margin-top: 0; }
	#ucHeader.navbar-default .navbar-toggle { background: #3e3c5a; border-color: transparent;}
	#ucHeader.navbar-default .navbar-toggle .icon-bar{background-color: #dfdef5;}
	.ucSideBarMenuTrigger { display: block; }
	.ucSidebar.open, .ucUserDetails.open{width:270px; position: fixed; top:0; left:0; height: 100% !important;display:block; z-index: 999;}
	.ucMainContent.open{margin-left: 270px;}
	.ucIndexPageWrapper.open{overflow:hidden;}
	#ucHeader.open{}
	.ucSidebarCloseBtn{display: block; color: #fff;}
	.ucSideBarMenuTriggerWrapper {display: block;}
	#uc_tab_data_dashboard  { padding-top: 80px;}
	#uc_tab_data_listuser {padding-top: 60px;}
	.ucMainContent.open:after {    content: ""; position: absolute; top: 0; left: 0; right: 0; bottom: 0; background: rgba(0,0,0,0.7); z-index:99; }
	.ucSearchWrapper , #ucVisitorSearchBtn, .ucSearchForm{/* width:60%; */ display:none;}
	#ucSendMessageModal .modal-dialog { width:auto; }
	.uc_tile {margin-bottom: 70px;}
	#ucVisitorPageBackBtn {top:80px;}
}
@media only screen and (max-width:580px) 
{
	.ucNoteSection{ width: 100%; height: auto; }
	.ucNoteSection ul li {display:inline; }
	.ucNoteSection ul li:after { content:','; padding: 0 3px;}
	.ucNoteSection ul li:last-child:after { content:''; }
	.ucSendMessageSection{ width:100%;}
	#ucVisitorDetailsTab li {margin-right: 10px;}
}
@media only screen and (max-width:480px) 
{
	.ucSearchBar .form-inline { width:100%; /* display: inline-block; */, display:none; margin-top: 10px;}
	.ucSearchWrapper {width: 65%; margin-right: 10px;}
	.ucFilterModal .group-actions , .ucFilterModal .modal-footer .ucCancelBtn, .rules-list select.form-control { margin-bottom:10px !important;}
	
}

.ucSidebarSettingsSection
.ucCurrentFilter
{
    color: #000 !important;
    font-weight: bold;
}

.mfTooltip
{
    cursor: pointer;
}

.ucTabBtnGroup
{
	margin-bottom: 20px;
}

.ucVisitorFieldList
{
    width: 200px;
    list-style: none;
    padding: 0px;
}

.ucVisitorFieldList li span
{
    font-weight: normal;
    cursor: pointer;
}

.ucDeleteFieldBtn
{
	float: right;
	cursor: pointer;  
	opacity: 0.7;
	padding: 5px;
}

.ucDeleteFieldBtn:hover 
{
    text-decoration: none;
}

#ucVisitorListPlaceholder {
    background-color: #EEEEEE;
    color: #333333;
    padding: 40px;
    border: 1px solid #AAAAAA;
    text-align: center;
}

#ucVisitorMessages .ucTableCell
{
    word-break: break-word;
    padding: 14px 18px;
    font-size: 13px;
}

#uceditbrowsernotification_helptoggle
{
    text-align: left;
    padding-left: 11px;
    color: #999;
    cursor: pointer;
}
#uceditbrowsernotification_helpcontainer
{
    display: none;
    border:1px solid #CCCCCC;
    border-radius: 5px;
    padding: 10px;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #999999;
}
/**
 * CSS Loader animation - Start
 */
.ucAjaxLoader {
   text-align: center;
}
/**
 * CSS Loader animation - End
**/ 
 
/**
 * Main content CSS Loader
 */ 
#ucPageLoader
{
	height: 100%;
    width: calc(100% - 270px);
    background-color: #fff;
    position: absolute;
    top: 70px;
} 

/**
 * Div Table Global styles - Start
**/
.ucTable
{
    display: table;
    width: 100%;
    border-top: 1px solid #ddd; 
}
#ucUserTabContentMessaging .ucTable
{ 
    table-layout: fixed;
}
#ucUserTabContentMessaging .ucTableCell
{
	vertical-align: top;
    white-space: inherit;
}

.ucTableRow
{
    display: table-row;
}
.ucTableHeading
{
    display: table-header-group;
}
.ucTableBody
{
    display: table-row-group;
}
.ucTableFoot
{
    display: table-footer-group;
}
.ucTableCell,
.ucTableHead
{
    display: table-cell;
    border-bottom: 1px solid #ddd;
    padding: 8px 18px;
    vertical-align: middle;
    white-space: nowrap;
}
#uc_visitor_list>.ucTableRow:hover .ucTableCell
{
    box-shadow: inset 0px 10px 18px -18px rgba(0,0,0,0.6);
    -webkit-box-shadow: inset 0px 12px 18px -18px rgba(0,0,0,0.6); 
    -moz-box-shadow: inset 0px 10px 18px -18px rgba(0,0,0,0.6);
}

.ucTableHead
{
    background: #fff;
    color: #8ea4b1;
	text-transform: uppercase;
    font-size:13px;
	font-weight: normal;
}

.ucTableStripped .ucTableRow:nth-child(odd)
{
    background-color: #f9f9f9;
}
/**
 * Div Table Global styles - End
**/ 

/**
 * Toggle Switch styles - Start
**/

.UctoggleSwitch 
{
  position: relative;
  display: inline-block;
  width: 55px;
  height: 30px;
}

.UctoggleSwitch input 
{ 
	display:none;
}

.UctoggleSlider 
{
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.UctoggleSlider:before 
{
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .UctoggleSlider 
{
  background-color: #2196F3;
}

input:focus + .UctoggleSlider 
{
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .UctoggleSlider:before 
{
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.UctoggleSlider.round 
{
  border-radius: 34px;
}

.UctoggleSlider.round:before 
{
  border-radius: 50%;
}
/**
 * Toggle Switch styles - End
**/
