/**
 * Copyright - A Produle Systems Private Limited. All Rights Reserved.
 *
 * @desc Styles included for the listing
 *
 */
.ucTabBtnGroup .btn
{
	border-radius: 30px;
	padding: 8px 20px;
}
.ucTabBtnGroup .btn-default
{
	color: #a7a6a6;
	font-weight: normal;
	transition: 0.5s all ease;
}
.ucTabBtnGroup .btn-default.active, .ucTabBtnGroup .btn-default.active:hover
{
	color: #fff;
    background-color: #2B9AF3;
    border-color: #1f78bf;
    box-shadow: none;
}

.ucTabBtnGroup  .btn-default:hover
{
	background-color:#fff;
	color: #333;
}

.uc_table th
{
	background: #fff;
	border-bottom:1px solid #e8eced !important;
	color: #8ea4b1;
	text-transform: uppercase;
	text-align:left;
	font-size:13px;
	font-weight: normal;
	padding:15px 8px !important;
	vertical-align: middle;
}
 .uc_table tr:hover td {
       box-shadow: inset 0px -10px 18px -18px rgba(0,0,0,0.6);
       -webkit-box-shadow: inset 0px -12px 18px -18px rgba(0,0,0,0.6);
       -moz-box-shadow: inset 0px -10px 18px -18px rgba(0,0,0,0.6);
    } 
/* .uc_table tr:hover td
{
	-webkit-box-shadow: 0px 4px 17px -2px rgba(0,0,0,0.59);
-moz-box-shadow: 0px 4px 17px -2px rgba(0,0,0,0.59);
box-shadow: 0px 4px 17px -2px rgba(0,0,0,0.59);
} */
.uc_table td
{
	background: #fff;
	border-bottom:1px solid #e8eced !important;
	color: #253238;
	text-align:left;
	font-size:13px;
	font-weight: normal;
	padding:15px 8px !important;
	vertical-align:middle !important;
	height: 40px;
}
.ucUsersListMoreOptions
{
	color: #8ea4b1;
}
.uc_table td label, .uc_table th label
{
	margin: 0;
	padding: 0;
	line-height:0;
}
.uc_table th.text-center
{
	text-align:center !important; 
}
.uc_table th.uc_table_input_control
{
	padding-bottom: 12px !important;
}
#uc_visitor_list input[type="checkbox"] {
    display: none;
}

#uc_visitor_list input[type="checkbox"] + label:before {
    content: '';
    display: inline-block;
    width: 19px;
    height: 19px;
    font-size: 16px;
    font-family: 'Arial Unicode MS';
    background:url(../../images/app/listing/ucCheckBoxUnselected.png) no-repeat center center;
    color: #000;
    text-align: center;
    cursor: pointer;
    margin-top: 3px;
}   
    
#uc_visitor_list input[type="checkbox"]:checked + label:before {
    content: '';
    background:url(../../images/app/listing/ucCheckBoxSelected.png) no-repeat center center;
}
.uc_td_input_control
{
	padding-top: 25px !important;	
}
.ucuseronline , .ucuseroffline 
{
	width: 10px;
	height: 10px;
	border-radius: 50%;
	float: left;
    margin-top: 15px;
    display: table-cell;
}
.ucuseronline
{
	background-color: #52CA73;
}
.ucuseroffline
{
	background-color: #adbec6;
}

.ucUserPicWrapper , .ucUserPicWrapper img
{
	width: 40px;
	height: 40px;
	border-radius: 50%;
    background: #ccc;
}
.ucUserPicWithText
{
	width: 40px;
	height: 40px;
	border-radius: 50%;
    float: left;
    background: #EF6191;
    text-align:center;
    color:#fff;
    line-height: 39px;
    font-size: 18px;
}
.ucUserPicWrapper
{
	margin: 0 12px;
}
.ucUserNameAndEmail
{
	display: table-cell;
	vertical-align: middle;
}
.ucUserName
{
	display: block;
	font-size:14px;
	color: #273238;
}
.ucUserPic
{
	display: table-cell;
}
.ucUserEmail
{
	display:block;
	font-size:13px;
	color: #788f9d;
	font-weight:300;
}
.ucUserBrowserIcon, .ucUserOSIcon
{
	padding-left:25px;
	color: #253238;
	line-height: 20px;
}
.ucUserDeviceIcon
{
	width:30px;
	height:30px;
}
.ucUserBrowserIcon span, .ucUserOSIcon span
{
	font-size:13px;
	color: #788f9d;
	font-weight:300;
	font-style: italic;
	font-size: 12px;
	padding-left:5px;
}
.ucUserBrowserIcon.chrome
{
	background:url(../../images/app/listing/browser/ucBrowserChromeIcon.png) no-repeat top left;
}
.ucUserBrowserIcon.safari
{
	background:url(../../images/app/listing/browser/ucBrowserSafariIcon.png) no-repeat top left;
}
.ucUserBrowserIcon.firefox
{
	background:url(../../images/app/listing/browser/ucBrowserFirefoxIcon.png) no-repeat top left;
}
.ucUserBrowserIcon.edge
{
	background:url(../../images/app/listing/browser/ucBrowserEdgeIcon.png) no-repeat top left;
}
.ucUserBrowserIcon.ie
{
	background:url(../../images/app/listing/browser/ucBrowserIeIcon.png) no-repeat top left;
}
.ucUserOSIcon.ios
{
	background:url(../../images/app/listing/os/ucOSiosIcon.png) no-repeat top left;
}
.ucUserOSIcon.android
{
	background:url(../../images/app/listing/os/ucOSAndroidIcon.png) no-repeat top left;
}
.ucUserOSIcon.windows
{
	background:url(../../images/app/listing/os/ucOSwindowsIcon.png) no-repeat top left;
}
.ucUserOSIcon.linux
{
	background:url(../../images/app/listing/os/ucOSlinuxIcon.png) no-repeat top left;
}
.ucUserDeviceIcon.desktop
{
	background:url(../../images/app/listing/device/ucDeviceDesktopIcon.png) no-repeat top left;
	display: inline-block;
}
.ucUserDeviceIcon.laptop
{
	background:url(../../images/app/listing/device/ucDeviceLaptopIcon.png) no-repeat top left;
}
.ucUserDeviceIcon.tablet
{
	background:url(../../images/app/listing/device/ucDeviceTabletIcon.png) no-repeat top left;
}
.ucUserDeviceIcon.mobile
{
	background:url(../../images/app/listing/device/ucDeviceMobileIcon.png) no-repeat top left;
}
.ucUsersListMoreOptions:hover
{
	cursor: pointer;
}
.ucUserProfileIntial
{
    border-radius: 50%;
    height: 100%;
    padding: 6px 13px;
    font-size: 20px;
    color: #FFFFFF;
    text-align:center;
}
.ucTableWrapper
{
	overflow: hidden;
}
.ucTableWrapper:hover
{
	overflow: auto;
}
/* Filter Styles Start */
.ucFilterModal .modal-dialog
{
	width: 40%;
}
.ucFilterModal .modal-header
{
	text-align: center;
	border:0;
	padding-top: 35px;
}
.ucFilterModal .modal-header h2
{
	font-size: 28px;
    color: #333;
}
.ucFilterModal .modal-footer
{
	text-align: center;
    padding: 10px 0 30px;
    border: 0;
}
.ucFilterModal .modal-footer .ucCancelBtn 
{
    width: 133px;
    height: 45px;
    border-radius: 5px;
    border: 1px solid #7b8d98;
    color: #7b8d98;
    background: transparent;
    margin: 0px 5px;
}
.ucFilterModal .modal-footer .ucSaveBtn 
{
    width: 133px;
    height: 45px;
    padding: 14px 35px;
    border-radius: 5px;
    border: none;
    color: #fff;
    background: #2b9af3;
    margin: 0px 5px;
}
.ucFilterModal .input-group-btn label 
{
    width: 140px;
    border: none;
    border-bottom: 1px solid #e8eced;
    color: #8ea4b1;
    font-weight: 400;
    font-size: 13px;
    text-align: left;
    margin-bottom: 0px;
    padding: 7px 0px 8px 11px;
}
.ucFilterNameTextBox
{
	width: 500px;
	margin: 30px auto 0px;
}

.ucFilterModal button.close
{
	right: 10px;
    top: 10px;
    width: 35px;
    position: absolute;
    height: 35px;
    z-index: 99;q
}
.ucFilterModal button.close:hover, .ucFilterModal button.close:focus
{
	outline:none;
}
.query-builder
{
	font-family: 'Open Sans', sans-serif !important;
}
.query-builder .rules-group-container
{
	background: #F5F7F8;
	border: 1px solid #ECEDEE;
}
.query-builder .rules-list>::before
{
	border-width: 0 0 1px 1px;
}
.query-builder .rules-list>::after
{
	border-width: 0 0 0 1px;
}
.query-builder .rule-container
{
	border: 1px solid #ecedee;
	background: #fff;
}
.rules-list select.form-control
{
	border:1px solid #E7EEF0;
	box-shadow: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	background: url(../../images/app/listing/filter/ucListingFilterDropdownIcon.png) no-repeat right center;
	font-size: 13px;
	padding: 6px 30px 6px 6px;
	color: #676B71;
	font-weight: 300;
}
.group-conditions .btn-primary
{
    color: #8c8c8c;
    background-color: #f5f7f8;
    border-color: #cecfcf;
    box-shadow: none;
}
.group-conditions .btn-primary.active
{
    color: #fff;
    background-color: #2b9af3;
    border-color: #0c83cc;
}
.group-conditions .btn-xs
{
	padding: 4px 10px;
}
.group-actions .btn-success
{
	color: #fff;
    background-color: #62BF6E;
    border-color: #53A05C;
    padding: 4px 12px;
    font-weight: 300;
    transition: 0.1s all ease;
}
.group-actions .btn-success:first-child
{
	background-color: #4a9d55;
    border-color: #3b7e44;
}
.group-actions .btn-danger
{
	color: #fff;
    background-color: #FD5D5F;
    border-color: #ea3f41;
    padding: 4px 12px;
    font-weight: 300;
    transition: 0.1s all ease;
}
.group-actions .btn-success:hover, .group-actions .btn-success:focus
{
    background-color: #62BF6E;
    border-color: #53A05C;
    color: #fff;
    box-shadow: none;
}
.group-actions .btn-danger:hover, .group-actions .btn-danger:focus
{}
.group-actions.btn-group>.btn:first-child
{
	border-top-left-radius: 30px;
	border-bottom-left-radius: 30px;
}
.group-actions.btn-group>.btn:last-child
{
	border-top-right-radius: 30px;
	border-bottom-right-radius: 30px;
}
.query-builder .rule-value-container
{
	border: none;
}
.ucListingFilterDeleteIcon
{
	background-color: transparent;
	background: url('../../images/app/listing/filter/ucListingFilterTrashIcon.png') no-repeat center center;
	opacity: 0.4;
    border: transparent;
    width: 20px;
    margin-top: 7px;
    height: 20px;
    margin-right: 7px;
}
.ucListingFilterDeleteIcon:hover, .ucListingFilterDeleteIcon:focus
{
	background-color: transparent !important;
	border:transparent;
	opacity: 0.3;
	outline: none;
}
/* Filter Styles End */

/*Responsive*/
@media only screen and (min-width:1170px) and (max-width:1366px)
{
	.ucFilterModal .modal-dialog {width:80%;}
}
@media only screen and (min-width:1024px) and (max-width:1169px)
{
	.ucFilterModal .modal-dialog {width:80%;}
}
@media only screen and (max-width:1023px)
{
	.ucFilterModal .modal-dialog {width:80%;}
	.ucFilterNameTextBox{ width: 80%;}
}
@media only screen and (max-width:767px) 
{
	.ucFilterModal .modal-dialog {width:90%; margin: 30px auto;}
	.ucFilterNameTextBox{ width: 80%;}
}