/**
 * Copyright - A Produle Systems Private Limited. All Rights Reserved.
 *
 * @desc Styles included for the registration page
 *
 */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');

body
{
	width:100%;
	height:100%;
	font-family: 'Open Sans', sans-serif;
}
.btn
{
	background: #2B9AF3;
    color: #fff;
    font-size: 13px;
    padding: 12px 30px;
    border-radius: 30px;
    border: none;	
    transition: all 2s ease;
}
.btn:hover, .btn:focus
{
	background: #2586d4;
	color:#fff;
	outline: none;
}

.UC_SetupContainerCls
{
	width: 1000px;
    overflow: hidden;
    transform: translateX(-50%) translateY(-50%);
    position: absolute;
    top: 50%;
    left: 50%;
}

.input-container
{
  margin-top:10px;
}

form
{
  margin: 0 auto;
  width: 300px;
  margin-top: 300px;
}

.UC_SetupContainerCls
{
    display: none;
}
.ucSetupProgressSteps
{
	margin: 80px 0;
	padding: 0;
}
.ucSetupProgressSteps li
{
	display: inline-block;
    list-style: none;
    text-align: center;
    position: relative;
    color: #9ea1a2;
    font-weight:300;
    padding: 0 45px;
}
.ucSetupProgressSteps li:first-child
{
	padding-left:0;
}
.ucSetupProgressSteps li:last-child
{
	padding-right:0;
}
.ucSetupProgressSteps li span
{
	display: block;
    width: 40px;
    height: 40px;
    border: 2px solid #e8eced;
    background:#fff;
    margin: 0 auto;
    line-height: 38px;
    border-radius: 50%;
    margin-bottom: 10px;
}
.ucSetupProgressSteps li.active span
{
	border-color: #2B9AF3;
	color: #2B9AF3;
	font-weight: 500;
}
.ucSetupProgressSteps li.active
{
	color: #2B9AF3;
}
.ucSetupProgressSteps li:after
{
	content: '';
    width: 110%;
    height: 2px;
    background: #e8eced;
    position: absolute;
    left: -50%;
    top: 20px;
    z-index: -1;
}
.ucSetupProgressSteps li:first-child:after
{
	width:0%;
}
.ucWelcomeContent
{
	padding:50px 30px;
	text-align:center;
}
.ucWelcomeContent img
{
	margin:0 auto;
	display: block;
}
.ucWelcomeContent h2
{
	font-weight: 300;
	text-align: center;
}
.ucWelcomeContent h5
{
	font-weight: 300;
    color: #a4aeba;
    font-style: italic;
    text-align: center;
}
.ucWelcomeContent p
{
	font-size:13px;
	line-height:22px;
	text-align:center;
	margin: 25px 0; 
}
.ucSetupProgressStepsWrapper
{
	width:1000px;
	margin:0 auto;
	position: relative;
}
.ucCopyright
{
	text-align: center;
	position: absolute;
	bottom: 30px;
    left: 0;
    right: 0;
}
#UC_Setup_Database h2, #UC_Setup_SMTP h2, #UC_Setup_User h2, #UC_Setup_App h2
{
	font-size:32px;
	font-weight:300;
	color: #788f9d;
	text-align: center;
	margin: 0 auto 30px;
}
.UC_SetupContainerCls input[type="text"], .UC_SetupContainerCls input[type="email"], .UC_SetupContainerCls input[type="password"]
{
	border:none; 
	border-bottom: 1px solid #e8eced;
    box-shadow: none;
    border-radius: 0;
    font-weight: 300;
    font-size: 13px;
    text-align: left;
    margin-bottom: 5px;
}
.UC_SetupContainerCls .form-group .btn
{
	margin: 10px 0;
	padding: 8px 30px !important;
}
.UC_SetupLogo
{
	text-align: center;
}
.UC_SetupLogo img
{
	margin-bottom: 20px;
}
.UC_SetupLogo.mongoDB img
{
	width: 150px;
	margin-bottom: 10px;
}